Repository thejjw/sunbeam-charms: changes, and which Zuul jobs are due for each by the changed paths.
All: charm-build-keystone-k8s, charm-build-glance-k8s, charm-build-nova-k8s, charm-build-placement-k8s, charm-build-neutron-k8s, charm-build-ovn-central-k8s, charm-build-ovn-relay-k8s, charm-build-cinder-k8s, charm-build-cinder-ceph-k8s, charm-build-horizon-k8s, charm-build-heat-k8s, charm-build-octavia-k8s, charm-build-aodh-k8s, charm-build-ceilometer-k8s, charm-build-gnocchi-k8s, charm-build-barbican-k8s, charm-build-magnum-k8s, charm-build-designate-k8s, charm-build-designate-bind-k8s, charm-build-keystone-ldap-k8s, charm-build-openstack-exporter-k8s, charm-build-openstack-hypervisor, charm-build-sunbeam-machine, func-test-core, func-test-ceph, func-test-caas, func-test-misc, publish-charm-aodh-k8s, publish-charm-barbican-k8s, publish-charm-ceilometer-k8s, publish-charm-cinder-ceph-k8s, publish-charm-cinder-k8s, publish-charm-designate-bind-k8s, publish-charm-designate-k8s, publish-charm-glance-k8s, publish-charm-gnocchi-k8s, publish-charm-heat-k8s, publish-charm-horizon-k8s, publish-charm-keystone-k8s, publish-charm-keystone-ldap-k8s, publish-charm-magnum-k8s, publish-charm-neutron-k8s, publish-charm-nova-k8s, publish-charm-octavia-k8s, publish-charm-openstack-exporter-k8s, publish-charm-openstack-hypervisor, publish-charm-ovn-central-k8s, publish-charm-ovn-relay-k8s, publish-charm-placement-k8s, publish-charm-sunbeam-machine

Path conditions:
  charm-build-keystone-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-k8s/*, rebuild
  charm-build-glance-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/glance-k8s/*, rebuild
  charm-build-nova-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/nova-k8s/*, rebuild
  charm-build-placement-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/placement-k8s/*, rebuild
  charm-build-neutron-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/neutron-k8s/*, rebuild
  charm-build-ovn-central-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ovn-central-k8s/*, rebuild
  charm-build-ovn-relay-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ovn-relay-k8s/*, rebuild
  charm-build-cinder-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-k8s/*, rebuild
  charm-build-cinder-ceph-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-ceph-k8s/*, rebuild
  charm-build-horizon-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/horizon-k8s/*, rebuild
  charm-build-heat-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/heat-k8s/*, rebuild
  charm-build-octavia-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/octavia-k8s/*, rebuild
  charm-build-aodh-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/aodh-k8s/*, rebuild
  charm-build-ceilometer-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ceilometer-k8s/*, rebuild
  charm-build-gnocchi-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/gnocchi-k8s/*, rebuild
  charm-build-barbican-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/barbican-k8s/*, rebuild
  charm-build-magnum-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/magnum-k8s/*, rebuild
  charm-build-designate-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-k8s/*, rebuild
  charm-build-designate-bind-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-bind-k8s/*, rebuild
  charm-build-keystone-ldap-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-ldap-k8s/*, rebuild
  charm-build-openstack-exporter-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-exporter-k8s/*, rebuild
  charm-build-openstack-hypervisor: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-hypervisor/*, rebuild
  charm-build-sunbeam-machine: any of: ops-sunbeam/ops_sunbeam/*, charms/sunbeam-machine/*, rebuild
  func-test-core: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-k8s/*, charms/glance-k8s/*, charms/nova-k8s/*, charms/neutron-k8s/*, charms/placement-k8s/*, charms/ovn-central-k8s/*, charms/ovn-relay-k8s/*, charms/horizon-k8s/*, rebuild
  func-test-ceph: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-k8s/*, charms/cinder-ceph-k8s/*, charms/gnocchi-k8s/*, charms/ceilometer-k8s/*, charms/aodh-k8s/*, rebuild
  func-test-caas: any of: ops-sunbeam/ops_sunbeam/*, charms/heat-k8s/*, charms/octavia-k8s/*, charms/barbican-k8s/*, charms/magnum-k8s/*, rebuild
  func-test-misc: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-k8s/*, charms/designate-bind-k8s/*, charms/keystone-ldap-k8s/*, charms/openstack-exporter-k8s/*, rebuild
  publish-charm-aodh-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/aodh-k8s/*, rebuild
  publish-charm-barbican-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/barbican-k8s/*, rebuild
  publish-charm-ceilometer-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ceilometer-k8s/*, rebuild
  publish-charm-cinder-ceph-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-ceph-k8s/*, rebuild
  publish-charm-cinder-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-k8s/*, rebuild
  publish-charm-designate-bind-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-bind-k8s/*, rebuild
  publish-charm-designate-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-k8s/*, rebuild
  publish-charm-glance-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/glance-k8s/*, rebuild
  publish-charm-gnocchi-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/gnocchi-k8s/*, rebuild
  publish-charm-heat-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/heat-k8s/*, rebuild
  publish-charm-horizon-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/horizon-k8s/*, rebuild
  publish-charm-keystone-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-k8s/*, rebuild
  publish-charm-keystone-ldap-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-ldap-k8s/*, rebuild
  publish-charm-magnum-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/magnum-k8s/*, rebuild
  publish-charm-neutron-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/neutron-k8s/*, rebuild
  publish-charm-nova-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/nova-k8s/*, rebuild
  publish-charm-octavia-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/octavia-k8s/*, rebuild
  publish-charm-openstack-exporter-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-exporter-k8s/*, rebuild
  publish-charm-openstack-hypervisor: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-hypervisor/*, rebuild
  publish-charm-ovn-central-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ovn-central-k8s/*, rebuild
  publish-charm-ovn-relay-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ovn-relay-k8s/*, rebuild
  publish-charm-placement-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/placement-k8s/*, rebuild
  publish-charm-sunbeam-machine: any of: ops-sunbeam/ops_sunbeam/*, charms/sunbeam-machine/*, rebuild

Update patch set 1
  c42fd63af7b0f1d38c05279d84bc23fbf818329a
Due: none

Update notes for submitted changes
  c42fd63af7b0f1d38c05279d84bc23fbf818329a
Due: none

Update patch set 1
  b4bafb5b1ccb90294b86f0741091753cf21dce9c
Due: none

Update notes for submitted changes
  b4bafb5b1ccb90294b86f0741091753cf21dce9c
Due: none

Update patch set 1
  712f666b304459900a428c6c460780a4133acdd8
Due: none

Update notes for submitted changes
  712f666b304459900a428c6c460780a4133acdd8
Due: none

Bump openstack-exporter's container version
  charms/openstack-exporter-k8s/metadata.yaml
Due: charm-build-openstack-exporter-k8s, func-test-misc, publish-charm-openstack-exporter-k8s

Update patch set 1
  fdae386331b37c053f903e579f8d2769f9ad94fd
Due: none

Update notes for submitted changes
  fdae386331b37c053f903e579f8d2769f9ad94fd
Due: none

openstack-hypervisor: drop external-gateway
  charms/openstack-hypervisor/config.yaml
  charms/openstack-hypervisor/src/charm.py
Due: charm-build-openstack-hypervisor, publish-charm-openstack-hypervisor

openstack-hypervisor: drop external-gateway
  charms/openstack-hypervisor/config.yaml
  charms/openstack-hypervisor/src/charm.py
  charms/openstack-hypervisor/tests/unit/test_charm.py
Due: charm-build-openstack-hypervisor, publish-charm-openstack-hypervisor

Update patch set 2
  270a99d385621931099f40714cc72475d8a314d9
Due: none

Update notes for submitted changes
  270a99d385621931099f40714cc72475d8a314d9
Due: none

[keystone-k8s] create service account with service role
  charms/keystone-k8s/config.yaml
  charms/keystone-k8s/src/charm.py
  charms/keystone-k8s/src/utils/manager.py
Due: charm-build-keystone-k8s, func-test-core, publish-charm-keystone-k8s

Update patch set 1
  56023fd55db3d145954cf9fd6ca57c02da723113
Due: none
