Repository thejjw/sunbeam-charms: changes, and which Zuul jobs are due for each by the changed paths.
All: charm-build-keystone-k8s, charm-build-tempest-k8s, charm-build-glance-k8s, charm-build-nova-k8s, charm-build-placement-k8s, charm-build-neutron-k8s, charm-build-ovn-central-k8s, charm-build-ovn-relay-k8s, charm-build-cinder-k8s, charm-build-cinder-ceph-k8s, charm-build-horizon-k8s, charm-build-heat-k8s, charm-build-octavia-k8s, charm-build-aodh-k8s, charm-build-ceilometer-k8s, charm-build-gnocchi-k8s, charm-build-barbican-k8s, charm-build-magnum-k8s, charm-build-designate-k8s, charm-build-designate-bind-k8s, charm-build-keystone-ldap-k8s, charm-build-openstack-exporter-k8s, charm-build-openstack-hypervisor, charm-build-openstack-images-sync-k8s, charm-build-sunbeam-machine, charm-build-sunbeam-clusterd, charm-build-watcher-k8s, charm-build-masakari-k8s, func-test-core, func-test-tempest, func-test-ceph, func-test-caas, func-test-misc, func-test-machine, publish-charm-aodh-k8s, publish-charm-barbican-k8s, publish-charm-ceilometer-k8s, publish-charm-cinder-ceph-k8s, publish-charm-cinder-k8s, publish-charm-designate-bind-k8s, publish-charm-designate-k8s, publish-charm-glance-k8s, publish-charm-gnocchi-k8s, publish-charm-heat-k8s, publish-charm-horizon-k8s, publish-charm-keystone-k8s, publish-charm-keystone-ldap-k8s, publish-charm-magnum-k8s, publish-charm-neutron-k8s, publish-charm-nova-k8s, publish-charm-octavia-k8s, publish-charm-openstack-exporter-k8s, publish-charm-openstack-hypervisor, publish-charm-openstack-images-sync-k8s, publish-charm-ovn-central-k8s, publish-charm-ovn-relay-k8s, publish-charm-placement-k8s, publish-charm-sunbeam-machine, publish-charm-sunbeam-clusterd, publish-charm-tempest-k8s, publish-charm-watcher-k8s, publish-charm-masakari-k8s

charm-build-keystone-k8s:
  description: Build sunbeam keystone-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: keystone-k8s

charm-build-tempest-k8s:
  description: Build sunbeam tempest-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: tempest-k8s

charm-build-glance-k8s:
  description: Build sunbeam glance-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: glance-k8s

charm-build-nova-k8s:
  description: Build sunbeam nova-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: nova-k8s

charm-build-placement-k8s:
  description: Build sunbeam placement-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: placement-k8s

charm-build-neutron-k8s:
  description: Build sunbeam neutron-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: neutron-k8s

charm-build-ovn-central-k8s:
  description: Build sunbeam ovn-central-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: ovn-central-k8s

charm-build-ovn-relay-k8s:
  description: Build sunbeam ovn-relay-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: ovn-relay-k8s

charm-build-cinder-k8s:
  description: Build sunbeam cinder-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: cinder-k8s

charm-build-cinder-ceph-k8s:
  description: Build sunbeam cinder-ceph-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: cinder-ceph-k8s

charm-build-horizon-k8s:
  description: Build sunbeam horizon-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: horizon-k8s

charm-build-heat-k8s:
  description: Build sunbeam heat-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: heat-k8s

charm-build-octavia-k8s:
  description: Build sunbeam octavia-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: octavia-k8s

charm-build-aodh-k8s:
  description: Build sunbeam aodh-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: aodh-k8s

charm-build-ceilometer-k8s:
  description: Build sunbeam ceilometer-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: ceilometer-k8s

charm-build-gnocchi-k8s:
  description: Build sunbeam gnocchi-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: gnocchi-k8s

Update patch set 10
  be9163ea9e7a57195d1720264ca9ec128c74cb61
Due: none

Update patch set 7
  1405f5008cee6b8b516cb77ab1d7708af78f05a5
Due: none

Update patch set 11
  e18f47fb38cc44e2c454ed6233f90b462d7ea130
Due: none

tests: Updates manila-cephfs expected unit message
  charms/manila-cephfs-k8s/rebuild
  tests/all-k8s/tests.yaml
Due: none

Update patch set 1
  81c1dfee2f25e2101532f25119e1a96631322754
Due: none

Extend CI tests to include machine charms
  CONTRIBUTING.md
  render_bundles.py
  roles/collect-run-data/tasks/main.yaml
  roles/k8s/defaults/main.yaml
  roles/k8s/tasks/main.yaml
  tests/caas/smoke.yaml.j2
  tests/caas/tests.yaml
  tests/ceph/smoke.yaml.j2
  tests/ceph/tests.yaml
  tests/core/smoke.yaml.j2
  tests/core/tests.yaml
  tests/local/zaza/sunbeam/charm_tests/keystone/setup.py
  tests/local/zaza/sunbeam/charm_tests/machine/setup.py
  tests/local/zaza/sunbeam/charm_tests/neutron/__init__.py
  tests/local/zaza/sunbeam/charm_tests/neutron/setup.py
  tests/misc/smoke.yaml.j2
  tests/misc/tests.yaml
  tests/openstack/machines.yaml.j2
  tests/openstack/smoke.yaml.j2
  tests/openstack/tests.yaml
  zuul.d/jobs.yaml
  zuul.d/zuul.yaml
Due: none

Update patch set 12
  4c4995675127818aeab20ae61107beb34e3437b1
Due: none

Update notes for submitted changes
  4c/4995675127818aeab20ae61107beb34e3437b1
Due: none

Adds neutron-baremetal-switch-config-k8s charm
  charms/neutron-baremetal-switch-config-k8s/.gitignore
  charms/neutron-baremetal-switch-config-k8s/.sunbeam-build.yaml
  charms/neutron-baremetal-switch-config-k8s/CONTRIBUTING.md
  charms/neutron-baremetal-switch-config-k8s/LICENSE
  charms/neutron-baremetal-switch-config-k8s/README.md
  charms/neutron-baremetal-switch-config-k8s/charmcraft.yaml
  charms/neutron-baremetal-switch-config-k8s/pyproject.toml
  charms/neutron-baremetal-switch-config-k8s/rebuild
  charms/neutron-baremetal-switch-config-k8s/src/charm.py
  charms/neutron-baremetal-switch-config-k8s/tests/unit/__init__.py
  charms/neutron-baremetal-switch-config-k8s/tests/unit/test_charm.py
  charms/neutron-baremetal-switch-config-k8s/uv.lock
  charms/neutron-k8s/lib/charms/neutron_k8s/v0/switch_config.py
  tests/openstack/smoke.yaml.j2
  tests/openstack/tests.yaml
  zuul.d/jobs.yaml
  zuul.d/project-templates.yaml
  zuul.d/zuul.yaml
Due: charm-build-neutron-k8s, func-test-core, publish-charm-neutron-k8s

neutron-k8s: Adds baremetal-switch-config relation
  charms/neutron-k8s/charmcraft.yaml
  charms/neutron-k8s/src/charm.py
  charms/neutron-k8s/src/templates/ml2_conf.ini.j2
  charms/neutron-k8s/tests/unit/test_neutron_charm.py
  ops-sunbeam/ops_sunbeam/templating.py
  tests/openstack/smoke.yaml.j2
Due: charm-build-keystone-k8s, charm-build-tempest-k8s, charm-build-glance-k8s, charm-build-nova-k8s, charm-build-placement-k8s, charm-build-neutron-k8s, charm-build-ovn-central-k8s, charm-build-ovn-relay-k8s, charm-build-cinder-k8s, charm-build-cinder-ceph-k8s, charm-build-horizon-k8s, charm-build-heat-k8s, charm-build-octavia-k8s, charm-build-aodh-k8s, charm-build-ceilometer-k8s, charm-build-gnocchi-k8s, charm-build-barbican-k8s, charm-build-magnum-k8s, charm-build-designate-k8s, charm-build-designate-bind-k8s, charm-build-keystone-ldap-k8s, charm-build-openstack-exporter-k8s, charm-build-openstack-hypervisor, charm-build-openstack-images-sync-k8s, charm-build-sunbeam-machine, charm-build-sunbeam-clusterd, charm-build-watcher-k8s, charm-build-masakari-k8s, func-test-core, func-test-tempest, func-test-ceph, func-test-caas, func-test-misc, func-test-machine, publish-charm-aodh-k8s, publish-charm-barbican-k8s, publish-charm-ceilometer-k8s, publish-charm-cinder-ceph-k8s, publish-charm-cinder-k8s, publish-charm-designate-bind-k8s, publish-charm-designate-k8s, publish-charm-glance-k8s, publish-charm-gnocchi-k8s, publish-charm-heat-k8s, publish-charm-horizon-k8s, publish-charm-keystone-k8s, publish-charm-keystone-ldap-k8s, publish-charm-magnum-k8s, publish-charm-neutron-k8s, publish-charm-nova-k8s, publish-charm-octavia-k8s, publish-charm-openstack-exporter-k8s, publish-charm-openstack-hypervisor, publish-charm-openstack-images-sync-k8s, publish-charm-ovn-central-k8s, publish-charm-ovn-relay-k8s, publish-charm-placement-k8s, publish-charm-sunbeam-machine, publish-charm-sunbeam-clusterd, publish-charm-tempest-k8s, publish-charm-watcher-k8s, publish-charm-masakari-k8s

Adds neutron-generic-switch-config-k8s charm
  charms/neutron-generic-switch-config-k8s/.gitignore
  charms/neutron-generic-switch-config-k8s/.sunbeam-build.yaml
  charms/neutron-generic-switch-config-k8s/CONTRIBUTING.md
  charms/neutron-generic-switch-config-k8s/LICENSE
  charms/neutron-generic-switch-config-k8s/README.md
  charms/neutron-generic-switch-config-k8s/charmcraft.yaml
  charms/neutron-generic-switch-config-k8s/pyproject.toml
  charms/neutron-generic-switch-config-k8s/rebuild
  charms/neutron-generic-switch-config-k8s/requirements.txt
  charms/neutron-generic-switch-config-k8s/src/charm.py
  charms/neutron-generic-switch-config-k8s/tests/unit/__init__.py
  charms/neutron-generic-switch-config-k8s/tests/unit/test_charm.py
  charms/neutron-generic-switch-config-k8s/uv.lock
  charms/neutron-k8s/README.md
  tests/openstack/smoke.yaml.j2
  tests/openstack/tests.yaml
  zuul.d/jobs.yaml
  zuul.d/project-templates.yaml
  zuul.d/zuul.yaml
Due: charm-build-neutron-k8s, func-test-core, publish-charm-neutron-k8s

ironic-conductor: Adds ceph-rgw relation and additional config options
  charms/ironic-conductor-k8s/.sunbeam-build.yaml
  charms/ironic-conductor-k8s/README.md
  charms/ironic-conductor-k8s/charmcraft.yaml
  charms/ironic-conductor-k8s/src/charm.py
  charms/ironic-conductor-k8s/src/templates/ironic.conf.j2
  charms/ironic-conductor-k8s/src/templates/parts/section-agent
  charms/ironic-conductor-k8s/src/templates/parts/section-deploy
  charms/ironic-conductor-k8s/src/templates/parts/section-pxe
  charms/ironic-conductor-k8s/tests/unit/test_charm.py
  tests/openstack/tests.yaml
Due: none

ironic-conductor-k8s: Adds set-temp-url-secret action
  charms/ironic-conductor-k8s/charmcraft.yaml
  charms/ironic-conductor-k8s/pyproject.toml
  charms/ironic-conductor-k8s/src/api_utils.py
  charms/ironic-conductor-k8s/src/charm.py
  charms/ironic-conductor-k8s/tests/unit/test_charm.py
  charms/ironic-conductor-k8s/uv.lock
  test-requirements.txt
Due: none

Reapply "Upgrade dependencies"
  charms/aodh-k8s/uv.lock
  charms/barbican-k8s/uv.lock
  charms/ceilometer-k8s/uv.lock
  charms/cinder-ceph-k8s/uv.lock
  charms/cinder-k8s/uv.lock
  charms/cinder-volume-ceph/uv.lock
  charms/cinder-volume/uv.lock
  charms/cloudkitty-k8s/uv.lock
  charms/designate-bind-k8s/uv.lock
  charms/designate-k8s/uv.lock
  charms/epa-orchestrator/uv.lock
  charms/glance-k8s/uv.lock
  charms/gnocchi-k8s/uv.lock
  charms/heat-k8s/uv.lock
  charms/horizon-k8s/uv.lock
  charms/keystone-k8s/uv.lock
  charms/keystone-ldap-k8s/uv.lock
  charms/magnum-k8s/uv.lock
  charms/manila-cephfs-k8s/uv.lock
  charms/manila-data/uv.lock
  charms/manila-k8s/uv.lock
  charms/masakari-k8s/uv.lock
  charms/neutron-k8s/uv.lock
  charms/nova-k8s/uv.lock
  charms/octavia-k8s/uv.lock
  charms/openstack-exporter-k8s/uv.lock
  charms/openstack-hypervisor/uv.lock
  charms/openstack-images-sync-k8s/uv.lock
  charms/ovn-central-k8s/uv.lock
  charms/ovn-relay-k8s/uv.lock
  charms/placement-k8s/uv.lock
  charms/sunbeam-clusterd/uv.lock
  charms/sunbeam-machine/uv.lock
  charms/tempest-k8s/uv.lock
  charms/watcher-k8s/uv.lock
  ops-sunbeam/ops_sunbeam/test_utils.py
  test-requirements.txt
Due: charm-build-keystone-k8s, charm-build-tempest-k8s, charm-build-glance-k8s, charm-build-nova-k8s, charm-build-placement-k8s, charm-build-neutron-k8s, charm-build-ovn-central-k8s, charm-build-ovn-relay-k8s, charm-build-cinder-k8s, charm-build-cinder-ceph-k8s, charm-build-horizon-k8s, charm-build-heat-k8s, charm-build-octavia-k8s, charm-build-aodh-k8s, charm-build-ceilometer-k8s, charm-build-gnocchi-k8s, charm-build-barbican-k8s, charm-build-magnum-k8s, charm-build-designate-k8s, charm-build-designate-bind-k8s, charm-build-keystone-ldap-k8s, charm-build-openstack-exporter-k8s, charm-build-openstack-hypervisor, charm-build-openstack-images-sync-k8s, charm-build-sunbeam-machine, charm-build-sunbeam-clusterd, charm-build-watcher-k8s, charm-build-masakari-k8s, func-test-core, func-test-tempest, func-test-ceph, func-test-caas, func-test-misc, func-test-machine, publish-charm-aodh-k8s, publish-charm-barbican-k8s, publish-charm-ceilometer-k8s, publish-charm-cinder-ceph-k8s, publish-charm-cinder-k8s, publish-charm-designate-bind-k8s, publish-charm-designate-k8s, publish-charm-glance-k8s, publish-charm-gnocchi-k8s, publish-charm-heat-k8s, publish-charm-horizon-k8s, publish-charm-keystone-k8s, publish-charm-keystone-ldap-k8s, publish-charm-magnum-k8s, publish-charm-neutron-k8s, publish-charm-nova-k8s, publish-charm-octavia-k8s, publish-charm-openstack-exporter-k8s, publish-charm-openstack-hypervisor, publish-charm-openstack-images-sync-k8s, publish-charm-ovn-central-k8s, publish-charm-ovn-relay-k8s, publish-charm-placement-k8s, publish-charm-sunbeam-machine, publish-charm-sunbeam-clusterd, publish-charm-tempest-k8s, publish-charm-watcher-k8s, publish-charm-masakari-k8s

Path conditions:
  charm-build-keystone-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-k8s/*, rebuild
  charm-build-tempest-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/tempest-k8s/*, rebuild
  charm-build-glance-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/glance-k8s/*, rebuild
  charm-build-nova-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/nova-k8s/*, rebuild
  charm-build-placement-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/placement-k8s/*, rebuild
  charm-build-neutron-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/neutron-k8s/*, rebuild
  charm-build-ovn-central-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ovn-central-k8s/*, rebuild
  charm-build-ovn-relay-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ovn-relay-k8s/*, rebuild
  charm-build-cinder-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-k8s/*, rebuild
  charm-build-cinder-ceph-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-ceph-k8s/*, rebuild
  charm-build-horizon-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/horizon-k8s/*, rebuild
  charm-build-heat-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/heat-k8s/*, rebuild
  charm-build-octavia-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/octavia-k8s/*, rebuild
  charm-build-aodh-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/aodh-k8s/*, rebuild
  charm-build-ceilometer-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ceilometer-k8s/*, rebuild
  charm-build-gnocchi-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/gnocchi-k8s/*, rebuild
  charm-build-barbican-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/barbican-k8s/*, rebuild
  charm-build-magnum-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/magnum-k8s/*, rebuild
  charm-build-designate-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-k8s/*, rebuild
  charm-build-designate-bind-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-bind-k8s/*, rebuild
  charm-build-keystone-ldap-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-ldap-k8s/*, rebuild
  charm-build-openstack-exporter-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-exporter-k8s/*, rebuild
  charm-build-openstack-hypervisor: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-hypervisor/*, rebuild
  charm-build-openstack-images-sync-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-images-sync-k8s/*, rebuild
  charm-build-sunbeam-machine: any of: ops-sunbeam/ops_sunbeam/*, charms/sunbeam-machine/*, rebuild
  charm-build-sunbeam-clusterd: any of: ops-sunbeam/ops_sunbeam/*, charms/sunbeam-clusterd/*, rebuild
  charm-build-watcher-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/watcher-k8s/*, rebuild
  charm-build-masakari-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/masakari-k8s/*, rebuild
  func-test-core: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-k8s/*, charms/glance-k8s/*, charms/nova-k8s/*, charms/neutron-k8s/*, charms/placement-k8s/*, charms/openstack-images-sync-k8s/*, charms/ovn-central-k8s/*, charms/ovn-relay-k8s/*, rebuild
  func-test-tempest: any of: ops-sunbeam/ops_sunbeam/*, charms/tempest-k8s/*, tests/local/zaza/sunbeam/charm_tests/tempest_k8s/*, rebuild
  func-test-ceph: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-k8s/*, charms/cinder-ceph-k8s/*, charms/gnocchi-k8s/*, charms/ceilometer-k8s/*, charms/aodh-k8s/*, charms/watcher-k8s/*, rebuild
  func-test-caas: any of: ops-sunbeam/ops_sunbeam/*, charms/heat-k8s/*, charms/octavia-k8s/*, charms/barbican-k8s/*, charms/magnum-k8s/*, rebuild
  func-test-misc: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-k8s/*, charms/designate-bind-k8s/*, charms/keystone-ldap-k8s/*, charms/openstack-exporter-k8s/*, charms/horizon-k8s/*, charms/masakari-k8s/*, rebuild
  func-test-machine: any of: ops-sunbeam/ops_sunbeam/*, charms/sunbeam-machine/*, charms/sunbeam-clusterd/*, rebuild
  publish-charm-aodh-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/aodh-k8s/*, rebuild
  publish-charm-barbican-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/barbican-k8s/*, rebuild
  publish-charm-ceilometer-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ceilometer-k8s/*, rebuild
  publish-charm-cinder-ceph-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-ceph-k8s/*, rebuild
  publish-charm-cinder-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-k8s/*, rebuild
  publish-charm-designate-bind-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-bind-k8s/*, rebuild
  publish-charm-designate-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-k8s/*, rebuild
  publish-charm-glance-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/glance-k8s/*, rebuild
  publish-charm-gnocchi-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/gnocchi-k8s/*, rebuild
  publish-charm-heat-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/heat-k8s/*, rebuild
  publish-charm-horizon-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/horizon-k8s/*, rebuild
  publish-charm-keystone-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-k8s/*, rebuild
  publish-charm-keystone-ldap-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-ldap-k8s/*, rebuild
  publish-charm-magnum-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/magnum-k8s/*, rebuild
  publish-charm-neutron-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/neutron-k8s/*, rebuild
  publish-charm-nova-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/nova-k8s/*, rebuild
  publish-charm-octavia-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/octavia-k8s/*, rebuild
  publish-charm-openstack-exporter-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-exporter-k8s/*, rebuild
  publish-charm-openstack-hypervisor: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-hypervisor/*, rebuild
  publish-charm-openstack-images-sync-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-images-sync-k8s/*, rebuild
  publish-charm-ovn-central-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ovn-central-k8s/*, rebuild
  publish-charm-ovn-relay-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ovn-relay-k8s/*, rebuild
  publish-charm-placement-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/placement-k8s/*, rebuild
  publish-charm-sunbeam-machine: any of: ops-sunbeam/ops_sunbeam/*, charms/sunbeam-machine/*, rebuild
  publish-charm-sunbeam-clusterd: any of: ops-sunbeam/ops_sunbeam/*, charms/sunbeam-clusterd/*, rebuild
  publish-charm-tempest-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/tempest-k8s/*, rebuild
  publish-charm-watcher-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/watcher-k8s/*, rebuild
  publish-charm-masakari-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/masakari-k8s/*, rebuild
