Repository thejjw/sunbeam-charms: changes, and which Zuul jobs are due for each by the changed paths.
All: charm-build-keystone-k8s, charm-build-glance-k8s, charm-build-nova-k8s, charm-build-placement-k8s, charm-build-neutron-k8s, charm-build-ovn-central-k8s, charm-build-ovn-relay-k8s, charm-build-cinder-k8s, charm-build-cinder-ceph-k8s, charm-build-horizon-k8s, charm-build-heat-k8s, charm-build-octavia-k8s, charm-build-aodh-k8s, charm-build-ceilometer-k8s, charm-build-gnocchi-k8s, charm-build-barbican-k8s, charm-build-magnum-k8s, charm-build-designate-k8s, charm-build-designate-bind-k8s, charm-build-keystone-ldap-k8s, charm-build-openstack-exporter-k8s, charm-build-openstack-hypervisor, charm-build-sunbeam-machine, func-test-core, func-test-ceph, func-test-caas, func-test-misc, publish-charm-aodh-k8s, publish-charm-barbican-k8s, publish-charm-ceilometer-k8s, publish-charm-cinder-ceph-k8s, publish-charm-cinder-k8s, publish-charm-designate-bind-k8s, publish-charm-designate-k8s, publish-charm-glance-k8s, publish-charm-gnocchi-k8s, publish-charm-heat-k8s, publish-charm-horizon-k8s, publish-charm-keystone-k8s, publish-charm-keystone-ldap-k8s, publish-charm-magnum-k8s, publish-charm-neutron-k8s, publish-charm-nova-k8s, publish-charm-octavia-k8s, publish-charm-openstack-exporter-k8s, publish-charm-openstack-hypervisor, publish-charm-ovn-central-k8s, publish-charm-ovn-relay-k8s, publish-charm-placement-k8s, publish-charm-sunbeam-machine

charm-build-keystone-k8s:
  description: Build sunbeam keystone-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: keystone-k8s

charm-build-glance-k8s:
  description: Build sunbeam glance-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: glance-k8s

charm-build-nova-k8s:
  description: Build sunbeam nova-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: nova-k8s

charm-build-placement-k8s:
  description: Build sunbeam placement-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: placement-k8s

charm-build-neutron-k8s:
  description: Build sunbeam neutron-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: neutron-k8s

charm-build-ovn-central-k8s:
  description: Build sunbeam ovn-central-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: ovn-central-k8s

charm-build-ovn-relay-k8s:
  description: Build sunbeam ovn-relay-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: ovn-relay-k8s

charm-build-cinder-k8s:
  description: Build sunbeam cinder-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: cinder-k8s

charm-build-cinder-ceph-k8s:
  description: Build sunbeam cinder-ceph-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: cinder-ceph-k8s

charm-build-horizon-k8s:
  description: Build sunbeam horizon-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: horizon-k8s

charm-build-heat-k8s:
  description: Build sunbeam heat-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: heat-k8s

charm-build-octavia-k8s:
  description: Build sunbeam octavia-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: octavia-k8s

charm-build-aodh-k8s:
  description: Build sunbeam aodh-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: aodh-k8s

charm-build-ceilometer-k8s:
  description: Build sunbeam ceilometer-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: ceilometer-k8s

charm-build-gnocchi-k8s:
  description: Build sunbeam gnocchi-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: gnocchi-k8s

charm-build-barbican-k8s:
  description: Build sunbeam barbican-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: barbican-k8s

[ops-sunbeam] ingress_changed can fail when the relation is gone
  ops-sunbeam/ops_sunbeam/charm.py
Due: charm-build-keystone-k8s, charm-build-glance-k8s, charm-build-nova-k8s, charm-build-placement-k8s, charm-build-neutron-k8s, charm-build-ovn-central-k8s, charm-build-ovn-relay-k8s, charm-build-cinder-k8s, charm-build-cinder-ceph-k8s, charm-build-horizon-k8s, charm-build-heat-k8s, charm-build-octavia-k8s, charm-build-aodh-k8s, charm-build-ceilometer-k8s, charm-build-gnocchi-k8s, charm-build-barbican-k8s, charm-build-magnum-k8s, charm-build-designate-k8s, charm-build-designate-bind-k8s, charm-build-keystone-ldap-k8s, charm-build-openstack-exporter-k8s, charm-build-openstack-hypervisor, charm-build-sunbeam-machine, func-test-core, func-test-ceph, func-test-caas, func-test-misc, publish-charm-aodh-k8s, publish-charm-barbican-k8s, publish-charm-ceilometer-k8s, publish-charm-cinder-ceph-k8s, publish-charm-cinder-k8s, publish-charm-designate-bind-k8s, publish-charm-designate-k8s, publish-charm-glance-k8s, publish-charm-gnocchi-k8s, publish-charm-heat-k8s, publish-charm-horizon-k8s, publish-charm-keystone-k8s, publish-charm-keystone-ldap-k8s, publish-charm-magnum-k8s, publish-charm-neutron-k8s, publish-charm-nova-k8s, publish-charm-octavia-k8s, publish-charm-openstack-exporter-k8s, publish-charm-openstack-hypervisor, publish-charm-ovn-central-k8s, publish-charm-ovn-relay-k8s, publish-charm-placement-k8s, publish-charm-sunbeam-machine

Update patch set 2
  5210d9e230857d7ad92ab91a0029ea479e2237ed
Due: none

Update notes for submitted changes
  5210d9e230857d7ad92ab91a0029ea479e2237ed
Due: none

[tests] migrate tests to k8s wip
  charms/nova-k8s/rebuild
  manual.yaml
  playbooks/zaza-func-test.yaml
  render_bundles.py
  roles/collect-run-data/tasks/k8s.yaml
  roles/k8s-cloud/tasks/main.yaml
  roles/k8s/defaults/main.yaml
  roles/k8s/tasks/main.yaml
  roles/k8s/tasks/registry.yaml
  roles/k8s/templates/hosts.j2
  roles/k8s/templates/k8s-bootstrap.yaml.j2
  roles/manual-cloud/tasks/main.yaml
  roles/manual-cloud/templates/clouds.yaml.j2
  roles/microk8s-cloud/tasks/main.yaml
  roles/microk8s-cloud/templates/hosts.j2
  roles/zaza-func-test/tasks/main.yaml
  tests/hypervisor/control-plane.yaml.j2
  tests/hypervisor/hypervisor.yaml.j2
  tests/hypervisor/tests.yaml
  zuul.d/zuul.yaml
Due: charm-build-nova-k8s, func-test-core, publish-charm-nova-k8s

[tests] migrate tests to k8s wip
  charms/nova-k8s/rebuild
  playbooks/zaza-func-test.yaml
  roles/collect-run-data/tasks/k8s.yaml
  roles/k8s-cloud/tasks/main.yaml
  roles/k8s/defaults/main.yaml
  roles/k8s/tasks/main.yaml
  roles/k8s/tasks/registry.yaml
  roles/k8s/templates/hosts.j2
  roles/k8s/templates/k8s-bootstrap.yaml.j2
  roles/manual-cloud/tasks/main.yaml
  roles/manual-cloud/templates/clouds.yaml.j2
  roles/microk8s-cloud/tasks/main.yaml
  roles/microk8s-cloud/templates/hosts.j2
  roles/zaza-func-test/tasks/main.yaml
  zuul.d/zuul.yaml
Due: charm-build-nova-k8s, func-test-core, publish-charm-nova-k8s

[tests] migrate tests to k8s
  charms/nova-k8s/rebuild
  playbooks/zaza-func-test.yaml
  roles/collect-run-data/tasks/k8s.yaml
  roles/k8s-cloud/tasks/main.yaml
  roles/k8s/defaults/main.yaml
  roles/k8s/tasks/main.yaml
  roles/k8s/tasks/registry.yaml
  roles/k8s/templates/hosts.j2
  roles/k8s/templates/k8s-bootstrap.yaml.j2
  roles/manual-cloud/tasks/main.yaml
  roles/manual-cloud/templates/clouds.yaml.j2
  roles/microk8s-cloud/tasks/main.yaml
  roles/microk8s-cloud/templates/hosts.j2
  roles/zaza-func-test/tasks/main.yaml
  zuul.d/zuul.yaml
Due: charm-build-nova-k8s, func-test-core, publish-charm-nova-k8s

[tests] migrate tests to k8s
  charms/nova-k8s/rebuild
  playbooks/zaza-func-test.yaml
  roles/charm-build/tasks/main.yaml
  roles/collect-run-data/tasks/k8s.yaml
  roles/k8s-cloud/tasks/main.yaml
  roles/k8s/defaults/main.yaml
  roles/k8s/tasks/main.yaml
  roles/k8s/tasks/registry.yaml
  roles/k8s/templates/hosts.j2
  roles/k8s/templates/k8s-bootstrap.yaml.j2
  roles/lxd-cloud/tasks/main.yaml
  roles/manual-cloud/tasks/main.yaml
  roles/manual-cloud/templates/clouds.yaml.j2
  roles/microk8s-cloud/tasks/main.yaml
  roles/microk8s-cloud/templates/hosts.j2
  roles/zaza-func-test/tasks/main.yaml
  zuul.d/zuul.yaml
Due: charm-build-nova-k8s, func-test-core, publish-charm-nova-k8s

Path conditions:
  charm-build-keystone-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-k8s/*, rebuild
  charm-build-glance-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/glance-k8s/*, rebuild
  charm-build-nova-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/nova-k8s/*, rebuild
  charm-build-placement-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/placement-k8s/*, rebuild
  charm-build-neutron-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/neutron-k8s/*, rebuild
  charm-build-ovn-central-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ovn-central-k8s/*, rebuild
  charm-build-ovn-relay-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ovn-relay-k8s/*, rebuild
  charm-build-cinder-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-k8s/*, rebuild
  charm-build-cinder-ceph-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-ceph-k8s/*, rebuild
  charm-build-horizon-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/horizon-k8s/*, rebuild
  charm-build-heat-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/heat-k8s/*, rebuild
  charm-build-octavia-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/octavia-k8s/*, rebuild
  charm-build-aodh-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/aodh-k8s/*, rebuild
  charm-build-ceilometer-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ceilometer-k8s/*, rebuild
  charm-build-gnocchi-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/gnocchi-k8s/*, rebuild
  charm-build-barbican-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/barbican-k8s/*, rebuild
  charm-build-magnum-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/magnum-k8s/*, rebuild
  charm-build-designate-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-k8s/*, rebuild
  charm-build-designate-bind-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-bind-k8s/*, rebuild
  charm-build-keystone-ldap-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-ldap-k8s/*, rebuild
  charm-build-openstack-exporter-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-exporter-k8s/*, rebuild
  charm-build-openstack-hypervisor: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-hypervisor/*, rebuild
  charm-build-sunbeam-machine: any of: ops-sunbeam/ops_sunbeam/*, charms/sunbeam-machine/*, rebuild
  func-test-core: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-k8s/*, charms/glance-k8s/*, charms/nova-k8s/*, charms/neutron-k8s/*, charms/placement-k8s/*, charms/ovn-central-k8s/*, charms/ovn-relay-k8s/*, charms/horizon-k8s/*, rebuild
  func-test-ceph: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-k8s/*, charms/cinder-ceph-k8s/*, charms/gnocchi-k8s/*, charms/ceilometer-k8s/*, charms/aodh-k8s/*, rebuild
  func-test-caas: any of: ops-sunbeam/ops_sunbeam/*, charms/heat-k8s/*, charms/octavia-k8s/*, charms/barbican-k8s/*, charms/magnum-k8s/*, rebuild
  func-test-misc: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-k8s/*, charms/designate-bind-k8s/*, charms/keystone-ldap-k8s/*, charms/openstack-exporter-k8s/*, rebuild
  publish-charm-aodh-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/aodh-k8s/*, rebuild
  publish-charm-barbican-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/barbican-k8s/*, rebuild
  publish-charm-ceilometer-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ceilometer-k8s/*, rebuild
  publish-charm-cinder-ceph-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-ceph-k8s/*, rebuild
  publish-charm-cinder-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-k8s/*, rebuild
  publish-charm-designate-bind-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-bind-k8s/*, rebuild
  publish-charm-designate-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-k8s/*, rebuild
  publish-charm-glance-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/glance-k8s/*, rebuild
  publish-charm-gnocchi-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/gnocchi-k8s/*, rebuild
  publish-charm-heat-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/heat-k8s/*, rebuild
  publish-charm-horizon-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/horizon-k8s/*, rebuild
  publish-charm-keystone-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-k8s/*, rebuild
  publish-charm-keystone-ldap-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-ldap-k8s/*, rebuild
  publish-charm-magnum-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/magnum-k8s/*, rebuild
  publish-charm-neutron-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/neutron-k8s/*, rebuild
  publish-charm-nova-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/nova-k8s/*, rebuild
  publish-charm-octavia-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/octavia-k8s/*, rebuild
  publish-charm-openstack-exporter-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-exporter-k8s/*, rebuild
  publish-charm-openstack-hypervisor: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-hypervisor/*, rebuild
  publish-charm-ovn-central-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ovn-central-k8s/*, rebuild
  publish-charm-ovn-relay-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ovn-relay-k8s/*, rebuild
  publish-charm-placement-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/placement-k8s/*, rebuild
  publish-charm-sunbeam-machine: any of: ops-sunbeam/ops_sunbeam/*, charms/sunbeam-machine/*, rebuild
