Repository thejjw/sunbeam-charms: changes, and which Zuul jobs are due for each by the changed paths.
All: charm-build-keystone-k8s, charm-build-tempest-k8s, charm-build-glance-k8s, charm-build-nova-k8s, charm-build-placement-k8s, charm-build-neutron-k8s, charm-build-ovn-central-k8s, charm-build-ovn-relay-k8s, charm-build-cinder-k8s, charm-build-cinder-ceph-k8s, charm-build-horizon-k8s, charm-build-heat-k8s, charm-build-octavia-k8s, charm-build-aodh-k8s, charm-build-ceilometer-k8s, charm-build-gnocchi-k8s, charm-build-barbican-k8s, charm-build-magnum-k8s, charm-build-designate-k8s, charm-build-designate-bind-k8s, charm-build-keystone-ldap-k8s, charm-build-openstack-exporter-k8s, charm-build-openstack-hypervisor, charm-build-openstack-images-sync-k8s, charm-build-sunbeam-machine, charm-build-sunbeam-clusterd, charm-build-watcher-k8s, charm-build-masakari-k8s, func-test-core, func-test-tempest, func-test-ceph, func-test-caas, func-test-misc, func-test-machine, publish-charm-aodh-k8s, publish-charm-barbican-k8s, publish-charm-ceilometer-k8s, publish-charm-cinder-ceph-k8s, publish-charm-cinder-k8s, publish-charm-designate-bind-k8s, publish-charm-designate-k8s, publish-charm-glance-k8s, publish-charm-gnocchi-k8s, publish-charm-heat-k8s, publish-charm-horizon-k8s, publish-charm-keystone-k8s, publish-charm-keystone-ldap-k8s, publish-charm-magnum-k8s, publish-charm-neutron-k8s, publish-charm-nova-k8s, publish-charm-octavia-k8s, publish-charm-openstack-exporter-k8s, publish-charm-openstack-hypervisor, publish-charm-openstack-images-sync-k8s, publish-charm-ovn-central-k8s, publish-charm-ovn-relay-k8s, publish-charm-placement-k8s, publish-charm-sunbeam-machine, publish-charm-sunbeam-clusterd, publish-charm-tempest-k8s, publish-charm-watcher-k8s, publish-charm-masakari-k8s

Path conditions:
  charm-build-keystone-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-k8s/*, rebuild
  charm-build-tempest-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/tempest-k8s/*, rebuild
  charm-build-glance-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/glance-k8s/*, rebuild
  charm-build-nova-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/nova-k8s/*, rebuild
  charm-build-placement-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/placement-k8s/*, rebuild
  charm-build-neutron-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/neutron-k8s/*, rebuild
  charm-build-ovn-central-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ovn-central-k8s/*, rebuild
  charm-build-ovn-relay-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ovn-relay-k8s/*, rebuild
  charm-build-cinder-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-k8s/*, rebuild
  charm-build-cinder-ceph-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-ceph-k8s/*, rebuild
  charm-build-horizon-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/horizon-k8s/*, rebuild
  charm-build-heat-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/heat-k8s/*, rebuild
  charm-build-octavia-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/octavia-k8s/*, rebuild
  charm-build-aodh-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/aodh-k8s/*, rebuild
  charm-build-ceilometer-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ceilometer-k8s/*, rebuild
  charm-build-gnocchi-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/gnocchi-k8s/*, rebuild
  charm-build-barbican-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/barbican-k8s/*, rebuild
  charm-build-magnum-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/magnum-k8s/*, rebuild
  charm-build-designate-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-k8s/*, rebuild
  charm-build-designate-bind-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-bind-k8s/*, rebuild
  charm-build-keystone-ldap-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-ldap-k8s/*, rebuild
  charm-build-openstack-exporter-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-exporter-k8s/*, rebuild
  charm-build-openstack-hypervisor: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-hypervisor/*, rebuild
  charm-build-openstack-images-sync-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-images-sync-k8s/*, rebuild
  charm-build-sunbeam-machine: any of: ops-sunbeam/ops_sunbeam/*, charms/sunbeam-machine/*, rebuild
  charm-build-sunbeam-clusterd: any of: ops-sunbeam/ops_sunbeam/*, charms/sunbeam-clusterd/*, rebuild
  charm-build-watcher-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/watcher-k8s/*, rebuild
  charm-build-masakari-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/masakari-k8s/*, rebuild
  func-test-core: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-k8s/*, charms/glance-k8s/*, charms/nova-k8s/*, charms/neutron-k8s/*, charms/placement-k8s/*, charms/openstack-images-sync-k8s/*, charms/ovn-central-k8s/*, charms/ovn-relay-k8s/*, rebuild
  func-test-tempest: any of: ops-sunbeam/ops_sunbeam/*, charms/tempest-k8s/*, tests/local/zaza/sunbeam/charm_tests/tempest_k8s/*, rebuild
  func-test-ceph: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-k8s/*, charms/cinder-ceph-k8s/*, charms/gnocchi-k8s/*, charms/ceilometer-k8s/*, charms/aodh-k8s/*, charms/watcher-k8s/*, rebuild
  func-test-caas: any of: ops-sunbeam/ops_sunbeam/*, charms/heat-k8s/*, charms/octavia-k8s/*, charms/barbican-k8s/*, charms/magnum-k8s/*, rebuild
  func-test-misc: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-k8s/*, charms/designate-bind-k8s/*, charms/keystone-ldap-k8s/*, charms/openstack-exporter-k8s/*, charms/horizon-k8s/*, charms/masakari-k8s/*, rebuild
  func-test-machine: any of: ops-sunbeam/ops_sunbeam/*, charms/sunbeam-machine/*, charms/sunbeam-clusterd/*, rebuild
  publish-charm-aodh-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/aodh-k8s/*, rebuild
  publish-charm-barbican-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/barbican-k8s/*, rebuild
  publish-charm-ceilometer-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ceilometer-k8s/*, rebuild
  publish-charm-cinder-ceph-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-ceph-k8s/*, rebuild
  publish-charm-cinder-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-k8s/*, rebuild
  publish-charm-designate-bind-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-bind-k8s/*, rebuild
  publish-charm-designate-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-k8s/*, rebuild
  publish-charm-glance-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/glance-k8s/*, rebuild
  publish-charm-gnocchi-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/gnocchi-k8s/*, rebuild
  publish-charm-heat-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/heat-k8s/*, rebuild
  publish-charm-horizon-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/horizon-k8s/*, rebuild
  publish-charm-keystone-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-k8s/*, rebuild
  publish-charm-keystone-ldap-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-ldap-k8s/*, rebuild
  publish-charm-magnum-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/magnum-k8s/*, rebuild
  publish-charm-neutron-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/neutron-k8s/*, rebuild
  publish-charm-nova-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/nova-k8s/*, rebuild
  publish-charm-octavia-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/octavia-k8s/*, rebuild
  publish-charm-openstack-exporter-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-exporter-k8s/*, rebuild
  publish-charm-openstack-hypervisor: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-hypervisor/*, rebuild
  publish-charm-openstack-images-sync-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-images-sync-k8s/*, rebuild
  publish-charm-ovn-central-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ovn-central-k8s/*, rebuild
  publish-charm-ovn-relay-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ovn-relay-k8s/*, rebuild
  publish-charm-placement-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/placement-k8s/*, rebuild
  publish-charm-sunbeam-machine: any of: ops-sunbeam/ops_sunbeam/*, charms/sunbeam-machine/*, rebuild
  publish-charm-sunbeam-clusterd: any of: ops-sunbeam/ops_sunbeam/*, charms/sunbeam-clusterd/*, rebuild
  publish-charm-tempest-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/tempest-k8s/*, rebuild
  publish-charm-watcher-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/watcher-k8s/*, rebuild
  publish-charm-masakari-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/masakari-k8s/*, rebuild

Add OpenIDC federation support
  charms/horizon-k8s/.sunbeam-build.yaml
  charms/horizon-k8s/charmcraft.yaml
  charms/horizon-k8s/src/charm.py
  charms/horizon-k8s/src/templates/local_settings.py.j2
  charms/horizon-k8s/tests/unit/test_horizon_charm.py
  charms/keystone-k8s/.sunbeam-build.yaml
  charms/keystone-k8s/README.md
  charms/keystone-k8s/charmcraft.yaml
  charms/keystone-k8s/src/charm.py
  charms/keystone-k8s/src/templates/apache2-oidc-params
  charms/keystone-k8s/src/templates/ca-bundle.crt.j2
  charms/keystone-k8s/src/templates/wsgi-keystone.conf.j2
  charms/keystone-k8s/src/utils/manager.py
  charms/keystone-k8s/tests/unit/test_keystone_charm.py
  libs/external/lib/charms/horizon_k8s/v0/py.typed
  libs/external/lib/charms/horizon_k8s/v0/trusted_dashboard.py
  libs/external/lib/charms/hydra/v0/oauth.py
  ops-sunbeam/ops_sunbeam/relation_handlers.py
  templates/parts/section-federation
Due: charm-build-keystone-k8s, charm-build-tempest-k8s, charm-build-glance-k8s, charm-build-nova-k8s, charm-build-placement-k8s, charm-build-neutron-k8s, charm-build-ovn-central-k8s, charm-build-ovn-relay-k8s, charm-build-cinder-k8s, charm-build-cinder-ceph-k8s, charm-build-horizon-k8s, charm-build-heat-k8s, charm-build-octavia-k8s, charm-build-aodh-k8s, charm-build-ceilometer-k8s, charm-build-gnocchi-k8s, charm-build-barbican-k8s, charm-build-magnum-k8s, charm-build-designate-k8s, charm-build-designate-bind-k8s, charm-build-keystone-ldap-k8s, charm-build-openstack-exporter-k8s, charm-build-openstack-hypervisor, charm-build-openstack-images-sync-k8s, charm-build-sunbeam-machine, charm-build-sunbeam-clusterd, charm-build-watcher-k8s, charm-build-masakari-k8s, func-test-core, func-test-tempest, func-test-ceph, func-test-caas, func-test-misc, func-test-machine, publish-charm-aodh-k8s, publish-charm-barbican-k8s, publish-charm-ceilometer-k8s, publish-charm-cinder-ceph-k8s, publish-charm-cinder-k8s, publish-charm-designate-bind-k8s, publish-charm-designate-k8s, publish-charm-glance-k8s, publish-charm-gnocchi-k8s, publish-charm-heat-k8s, publish-charm-horizon-k8s, publish-charm-keystone-k8s, publish-charm-keystone-ldap-k8s, publish-charm-magnum-k8s, publish-charm-neutron-k8s, publish-charm-nova-k8s, publish-charm-octavia-k8s, publish-charm-openstack-exporter-k8s, publish-charm-openstack-hypervisor, publish-charm-openstack-images-sync-k8s, publish-charm-ovn-central-k8s, publish-charm-ovn-relay-k8s, publish-charm-placement-k8s, publish-charm-sunbeam-machine, publish-charm-sunbeam-clusterd, publish-charm-tempest-k8s, publish-charm-watcher-k8s, publish-charm-masakari-k8s

Update patch set 8
  ded387a0027c2dfbee3ca7fa10e5514fbda4013c
Due: none

Update patch set 9
  d08b4a3cc7c80638eb05d3c98917755f27b36ec8
Due: none

Update patch set 9
  d08b4a3cc7c80638eb05d3c98917755f27b36ec8
  ded387a0027c2dfbee3ca7fa10e5514fbda4013c
Due: none

Update patch set 9
  ded387a0027c2dfbee3ca7fa10e5514fbda4013c
Due: none

Update patch set 10
  d08b4a3cc7c80638eb05d3c98917755f27b36ec8
Due: none

Update patch set 10
  8f346d3a090ade8e51ba4f309276bd189368bb9e
  ed43e85be5d058b2b818df9c7ecbab2b8d617378
Due: none

Add OpenIDC federation support
  .gitignore
  charms/horizon-k8s/charmcraft.yaml
  charms/horizon-k8s/lib/charms/horizon_k8s/v0/py.typed
  charms/horizon-k8s/lib/charms/horizon_k8s/v0/trusted_dashboard.py
  charms/horizon-k8s/src/charm.py
  charms/horizon-k8s/src/templates/local_settings.py.j2
  charms/horizon-k8s/tests/unit/test_horizon_charm.py
  charms/keystone-k8s/.sunbeam-build.yaml
  charms/keystone-k8s/README.md
  charms/keystone-k8s/charmcraft.yaml
  charms/keystone-k8s/src/charm.py
  charms/keystone-k8s/src/templates/apache2-oidc-params
  charms/keystone-k8s/src/templates/ca-bundle.crt.j2
  charms/keystone-k8s/src/templates/keystone.conf.j2
  charms/keystone-k8s/src/templates/section-federation
  charms/keystone-k8s/src/templates/wsgi-keystone.conf.j2
  charms/keystone-k8s/src/utils/manager.py
  charms/keystone-k8s/tests/unit/test_keystone_charm.py
  libs/external/lib/charms/hydra/v0/oauth.py
  ops-sunbeam/ops_sunbeam/relation_handlers.py
  templates/parts/section-federation
Due: charm-build-keystone-k8s, charm-build-tempest-k8s, charm-build-glance-k8s, charm-build-nova-k8s, charm-build-placement-k8s, charm-build-neutron-k8s, charm-build-ovn-central-k8s, charm-build-ovn-relay-k8s, charm-build-cinder-k8s, charm-build-cinder-ceph-k8s, charm-build-horizon-k8s, charm-build-heat-k8s, charm-build-octavia-k8s, charm-build-aodh-k8s, charm-build-ceilometer-k8s, charm-build-gnocchi-k8s, charm-build-barbican-k8s, charm-build-magnum-k8s, charm-build-designate-k8s, charm-build-designate-bind-k8s, charm-build-keystone-ldap-k8s, charm-build-openstack-exporter-k8s, charm-build-openstack-hypervisor, charm-build-openstack-images-sync-k8s, charm-build-sunbeam-machine, charm-build-sunbeam-clusterd, charm-build-watcher-k8s, charm-build-masakari-k8s, func-test-core, func-test-tempest, func-test-ceph, func-test-caas, func-test-misc, func-test-machine, publish-charm-aodh-k8s, publish-charm-barbican-k8s, publish-charm-ceilometer-k8s, publish-charm-cinder-ceph-k8s, publish-charm-cinder-k8s, publish-charm-designate-bind-k8s, publish-charm-designate-k8s, publish-charm-glance-k8s, publish-charm-gnocchi-k8s, publish-charm-heat-k8s, publish-charm-horizon-k8s, publish-charm-keystone-k8s, publish-charm-keystone-ldap-k8s, publish-charm-magnum-k8s, publish-charm-neutron-k8s, publish-charm-nova-k8s, publish-charm-octavia-k8s, publish-charm-openstack-exporter-k8s, publish-charm-openstack-hypervisor, publish-charm-openstack-images-sync-k8s, publish-charm-ovn-central-k8s, publish-charm-ovn-relay-k8s, publish-charm-placement-k8s, publish-charm-sunbeam-machine, publish-charm-sunbeam-clusterd, publish-charm-tempest-k8s, publish-charm-watcher-k8s, publish-charm-masakari-k8s

Update patch set 11
  0344c737edde6f4f3765e7b40a72deea04a57b0b
Due: none

Update notes for submitted changes
  03/44c737edde6f4f3765e7b40a72deea04a57b0b
Due: none

[epa-orchestrator] epa-orchestrator charm for installing epa-orchestrator snap
  charms/epa-orchestrator/.gitignore
  charms/epa-orchestrator/.sunbeam-build.yaml
  charms/epa-orchestrator/CONTRIBUTING.md
  charms/epa-orchestrator/LICENSE
  charms/epa-orchestrator/README.md
  charms/epa-orchestrator/__init__.py
  charms/epa-orchestrator/charmcraft.yaml
  charms/epa-orchestrator/pyproject.toml
  charms/epa-orchestrator/src/charm.py
  charms/epa-orchestrator/tests/unit/__init__.py
  charms/epa-orchestrator/tests/unit/test_charm.py
  charms/epa-orchestrator/uv.lock
Due: none

Update patch set 1
  cf9265e3c02a4550262d6dfab9ad4ef5446753ed
Due: none

Update patch set 4
  cf9265e3c02a4550262d6dfab9ad4ef5446753ed
Due: none

[horizon-k8s] Update LIBID for trusted_dashboard library
  charms/horizon-k8s/lib/charms/horizon_k8s/v0/trusted_dashboard.py
Due: charm-build-horizon-k8s, func-test-misc, publish-charm-horizon-k8s
