Repository thejjw/sunbeam-charms: changes, and which Zuul jobs are due for each by the changed paths.
All: charm-build-keystone-k8s, charm-build-glance-k8s, charm-build-nova-k8s, charm-build-placement-k8s, charm-build-neutron-k8s, charm-build-ovn-central-k8s, charm-build-ovn-relay-k8s, charm-build-cinder-k8s, charm-build-cinder-ceph-k8s, charm-build-horizon-k8s, charm-build-heat-k8s, charm-build-octavia-k8s, charm-build-aodh-k8s, charm-build-ceilometer-k8s, charm-build-gnocchi-k8s, charm-build-barbican-k8s, charm-build-magnum-k8s, charm-build-designate-k8s, charm-build-designate-bind-k8s, charm-build-keystone-ldap-k8s, charm-build-openstack-exporter-k8s, charm-build-openstack-hypervisor, charm-build-sunbeam-machine, func-test-core, func-test-ceph, func-test-caas, func-test-misc, publish-charm-aodh-k8s, publish-charm-barbican-k8s, publish-charm-ceilometer-k8s, publish-charm-cinder-ceph-k8s, publish-charm-cinder-k8s, publish-charm-designate-bind-k8s, publish-charm-designate-k8s, publish-charm-glance-k8s, publish-charm-gnocchi-k8s, publish-charm-heat-k8s, publish-charm-horizon-k8s, publish-charm-keystone-k8s, publish-charm-keystone-ldap-k8s, publish-charm-magnum-k8s, publish-charm-neutron-k8s, publish-charm-nova-k8s, publish-charm-octavia-k8s, publish-charm-openstack-exporter-k8s, publish-charm-openstack-hypervisor, publish-charm-ovn-central-k8s, publish-charm-ovn-relay-k8s, publish-charm-placement-k8s, publish-charm-sunbeam-machine

charm-build-keystone-k8s:
  description: Build sunbeam keystone-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: keystone-k8s

charm-build-glance-k8s:
  description: Build sunbeam glance-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: glance-k8s

charm-build-nova-k8s:
  description: Build sunbeam nova-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: nova-k8s

charm-build-placement-k8s:
  description: Build sunbeam placement-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: placement-k8s

charm-build-neutron-k8s:
  description: Build sunbeam neutron-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: neutron-k8s

charm-build-ovn-central-k8s:
  description: Build sunbeam ovn-central-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: ovn-central-k8s

charm-build-ovn-relay-k8s:
  description: Build sunbeam ovn-relay-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: ovn-relay-k8s

charm-build-cinder-k8s:
  description: Build sunbeam cinder-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: cinder-k8s

charm-build-cinder-ceph-k8s:
  description: Build sunbeam cinder-ceph-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: cinder-ceph-k8s

charm-build-horizon-k8s:
  description: Build sunbeam horizon-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: horizon-k8s

charm-build-heat-k8s:
  description: Build sunbeam heat-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: heat-k8s

charm-build-octavia-k8s:
  description: Build sunbeam octavia-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: octavia-k8s

charm-build-aodh-k8s:
  description: Build sunbeam aodh-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: aodh-k8s

charm-build-ceilometer-k8s:
  description: Build sunbeam ceilometer-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: ceilometer-k8s

charm-build-gnocchi-k8s:
  description: Build sunbeam gnocchi-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: gnocchi-k8s

charm-build-barbican-k8s:
  description: Build sunbeam barbican-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: barbican-k8s

Update patch set 2
  ca875b8dd13d9a1ed305844c6a39cdb3f0f2944b
Due: none

Update notes for submitted changes
  ca875b8dd13d9a1ed305844c6a39cdb3f0f2944b
Due: none

[ceilometer|horizon-k8s] rebuild to pick up new rocks
  charms/ceilometer-k8s/rebuild
  charms/horizon-k8s/rebuild
Due: charm-build-horizon-k8s, charm-build-ceilometer-k8s, func-test-core, func-test-ceph, publish-charm-ceilometer-k8s, publish-charm-horizon-k8s

Update patch set 1
  5b37e0a6919668f23b8c7b148717714889fd4381
Due: none

Update notes for submitted changes
  5b37e0a6919668f23b8c7b148717714889fd4381
Due: none

Optimize access to the snap data
  charms/openstack-hypervisor/src/charm.py
  libs/external/lib/charms/operator_libs_linux/v2/snap.py
Due: charm-build-openstack-hypervisor, publish-charm-openstack-hypervisor

Update patch set 1
  a9e24c458028a642bdce6dadf16a82d940b79091
Due: none

Update notes for submitted changes
  a9e24c458028a642bdce6dadf16a82d940b79091
Due: none

Update patch set 1
  e5fb16d6b94f8690629dc627cecbba3141160101
Due: none

Update notes for submitted changes
  e5fb16d6b94f8690629dc627cecbba3141160101
Due: none

[glance-k8s] enable image-conversion on import
  charms/glance-k8s/config.yaml
  charms/glance-k8s/src/charm.py
  charms/glance-k8s/src/templates/glance-api.conf.j2
  charms/glance-k8s/src/templates/glance-image-import.conf.j2
Due: charm-build-glance-k8s, func-test-core, publish-charm-glance-k8s

Update patch set 1
  f45cc8769ffd0ded86ec836571f847a656c90a67
Due: none

Path conditions:
  charm-build-keystone-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-k8s/*, rebuild
  charm-build-glance-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/glance-k8s/*, rebuild
  charm-build-nova-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/nova-k8s/*, rebuild
  charm-build-placement-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/placement-k8s/*, rebuild
  charm-build-neutron-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/neutron-k8s/*, rebuild
  charm-build-ovn-central-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ovn-central-k8s/*, rebuild
  charm-build-ovn-relay-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ovn-relay-k8s/*, rebuild
  charm-build-cinder-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-k8s/*, rebuild
  charm-build-cinder-ceph-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-ceph-k8s/*, rebuild
  charm-build-horizon-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/horizon-k8s/*, rebuild
  charm-build-heat-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/heat-k8s/*, rebuild
  charm-build-octavia-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/octavia-k8s/*, rebuild
  charm-build-aodh-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/aodh-k8s/*, rebuild
  charm-build-ceilometer-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ceilometer-k8s/*, rebuild
  charm-build-gnocchi-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/gnocchi-k8s/*, rebuild
  charm-build-barbican-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/barbican-k8s/*, rebuild
  charm-build-magnum-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/magnum-k8s/*, rebuild
  charm-build-designate-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-k8s/*, rebuild
  charm-build-designate-bind-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-bind-k8s/*, rebuild
  charm-build-keystone-ldap-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-ldap-k8s/*, rebuild
  charm-build-openstack-exporter-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-exporter-k8s/*, rebuild
  charm-build-openstack-hypervisor: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-hypervisor/*, rebuild
  charm-build-sunbeam-machine: any of: ops-sunbeam/ops_sunbeam/*, charms/sunbeam-machine/*, rebuild
  func-test-core: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-k8s/*, charms/glance-k8s/*, charms/nova-k8s/*, charms/neutron-k8s/*, charms/placement-k8s/*, charms/ovn-central-k8s/*, charms/ovn-relay-k8s/*, charms/horizon-k8s/*, rebuild
  func-test-ceph: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-k8s/*, charms/cinder-ceph-k8s/*, charms/gnocchi-k8s/*, charms/ceilometer-k8s/*, charms/aodh-k8s/*, rebuild
  func-test-caas: any of: ops-sunbeam/ops_sunbeam/*, charms/heat-k8s/*, charms/octavia-k8s/*, charms/barbican-k8s/*, charms/magnum-k8s/*, rebuild
  func-test-misc: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-k8s/*, charms/designate-bind-k8s/*, charms/keystone-ldap-k8s/*, charms/openstack-exporter-k8s/*, rebuild
  publish-charm-aodh-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/aodh-k8s/*, rebuild
  publish-charm-barbican-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/barbican-k8s/*, rebuild
  publish-charm-ceilometer-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ceilometer-k8s/*, rebuild
  publish-charm-cinder-ceph-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-ceph-k8s/*, rebuild
  publish-charm-cinder-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-k8s/*, rebuild
  publish-charm-designate-bind-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-bind-k8s/*, rebuild
  publish-charm-designate-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-k8s/*, rebuild
  publish-charm-glance-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/glance-k8s/*, rebuild
  publish-charm-gnocchi-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/gnocchi-k8s/*, rebuild
  publish-charm-heat-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/heat-k8s/*, rebuild
  publish-charm-horizon-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/horizon-k8s/*, rebuild
  publish-charm-keystone-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-k8s/*, rebuild
  publish-charm-keystone-ldap-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-ldap-k8s/*, rebuild
  publish-charm-magnum-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/magnum-k8s/*, rebuild
  publish-charm-neutron-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/neutron-k8s/*, rebuild
  publish-charm-nova-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/nova-k8s/*, rebuild
  publish-charm-octavia-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/octavia-k8s/*, rebuild
  publish-charm-openstack-exporter-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-exporter-k8s/*, rebuild
  publish-charm-openstack-hypervisor: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-hypervisor/*, rebuild
  publish-charm-ovn-central-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ovn-central-k8s/*, rebuild
  publish-charm-ovn-relay-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ovn-relay-k8s/*, rebuild
  publish-charm-placement-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/placement-k8s/*, rebuild
  publish-charm-sunbeam-machine: any of: ops-sunbeam/ops_sunbeam/*, charms/sunbeam-machine/*, rebuild
