Repository thejjw/sunbeam-charms: changes, and which Zuul jobs are due for each by the changed paths.
All: charm-build-keystone-k8s, charm-build-tempest-k8s, charm-build-glance-k8s, charm-build-nova-k8s, charm-build-placement-k8s, charm-build-neutron-k8s, charm-build-ovn-central-k8s, charm-build-ovn-relay-k8s, charm-build-cinder-k8s, charm-build-cinder-ceph-k8s, charm-build-horizon-k8s, charm-build-heat-k8s, charm-build-octavia-k8s, charm-build-aodh-k8s, charm-build-ceilometer-k8s, charm-build-gnocchi-k8s, charm-build-barbican-k8s, charm-build-magnum-k8s, charm-build-designate-k8s, charm-build-designate-bind-k8s, charm-build-keystone-ldap-k8s, charm-build-openstack-exporter-k8s, charm-build-openstack-hypervisor, charm-build-openstack-images-sync-k8s, charm-build-sunbeam-machine, charm-build-sunbeam-clusterd, charm-build-watcher-k8s, charm-build-masakari-k8s, func-test-core, func-test-tempest, func-test-ceph, func-test-caas, func-test-misc, func-test-machine, publish-charm-aodh-k8s, publish-charm-barbican-k8s, publish-charm-ceilometer-k8s, publish-charm-cinder-ceph-k8s, publish-charm-cinder-k8s, publish-charm-designate-bind-k8s, publish-charm-designate-k8s, publish-charm-glance-k8s, publish-charm-gnocchi-k8s, publish-charm-heat-k8s, publish-charm-horizon-k8s, publish-charm-keystone-k8s, publish-charm-keystone-ldap-k8s, publish-charm-magnum-k8s, publish-charm-neutron-k8s, publish-charm-nova-k8s, publish-charm-octavia-k8s, publish-charm-openstack-exporter-k8s, publish-charm-openstack-hypervisor, publish-charm-openstack-images-sync-k8s, publish-charm-ovn-central-k8s, publish-charm-ovn-relay-k8s, publish-charm-placement-k8s, publish-charm-sunbeam-machine, publish-charm-sunbeam-clusterd, publish-charm-tempest-k8s, publish-charm-watcher-k8s, publish-charm-masakari-k8s

charm-build-keystone-k8s:
  description: Build sunbeam keystone-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: keystone-k8s

charm-build-tempest-k8s:
  description: Build sunbeam tempest-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: tempest-k8s

charm-build-glance-k8s:
  description: Build sunbeam glance-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: glance-k8s

charm-build-nova-k8s:
  description: Build sunbeam nova-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: nova-k8s

charm-build-placement-k8s:
  description: Build sunbeam placement-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: placement-k8s

charm-build-neutron-k8s:
  description: Build sunbeam neutron-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: neutron-k8s

charm-build-ovn-central-k8s:
  description: Build sunbeam ovn-central-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: ovn-central-k8s

charm-build-ovn-relay-k8s:
  description: Build sunbeam ovn-relay-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: ovn-relay-k8s

charm-build-cinder-k8s:
  description: Build sunbeam cinder-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: cinder-k8s

charm-build-cinder-ceph-k8s:
  description: Build sunbeam cinder-ceph-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: cinder-ceph-k8s

charm-build-horizon-k8s:
  description: Build sunbeam horizon-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: horizon-k8s

charm-build-heat-k8s:
  description: Build sunbeam heat-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: heat-k8s

charm-build-octavia-k8s:
  description: Build sunbeam octavia-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: octavia-k8s

charm-build-aodh-k8s:
  description: Build sunbeam aodh-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: aodh-k8s

charm-build-ceilometer-k8s:
  description: Build sunbeam ceilometer-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: ceilometer-k8s

charm-build-gnocchi-k8s:
  description: Build sunbeam gnocchi-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: gnocchi-k8s

Update patch set 3
  7df74612211d15e381076e2b99b9e7b4f2b7b0ae
Due: none

Adds manila-cephfs-k8s ceph-nfs relation
  charms/manila-cephfs-k8s/.sunbeam-build.yaml
  charms/manila-cephfs-k8s/README.md
  charms/manila-cephfs-k8s/src/charm.py
  charms/manila-cephfs-k8s/src/templates/ceph.conf
  charms/manila-cephfs-k8s/src/templates/manila.conf.j2
  charms/manila-cephfs-k8s/src/templates/manila.keyring
  charms/manila-cephfs-k8s/tests/unit/test_charm.py
  libs/external/lib/charms/ceph_nfs_client/v0/ceph_nfs_client.py
Due: none

Adds the manila relation
  charms/manila-cephfs-k8s/.sunbeam-build.yaml
  charms/manila-cephfs-k8s/README.md
  charms/manila-cephfs-k8s/charmcraft.yaml
  charms/manila-cephfs-k8s/src/charm.py
  charms/manila-cephfs-k8s/tests/unit/test_charm.py
  charms/manila-k8s/README.md
  charms/manila-k8s/charmcraft.yaml
  charms/manila-k8s/lib/charms/manila_k8s/v0/manila.py
  charms/manila-k8s/src/charm.py
  charms/manila-k8s/src/templates/manila.conf.j2
  charms/manila-k8s/tests/unit/test_charm.py
  tests/all-k8s/smoke.yaml.j2
Due: none

Update patch set 7
  d1117a15e3570bd23c83087022849da78e0bfc2a
Due: none

Add SAML2 support
  .gitignore
  charms/horizon-k8s/lib/charms/horizon_k8s/v0/trusted_dashboard.py
  charms/keystone-k8s/.sunbeam-build.yaml
  charms/keystone-k8s/charmcraft.yaml
  charms/keystone-k8s/src/charm.py
  charms/keystone-k8s/src/templates/apache2-oidc-params
  charms/keystone-k8s/src/templates/apache2-saml-params
  charms/keystone-k8s/src/templates/wsgi-keystone.conf.j2
  charms/keystone-k8s/src/utils/certs.py
  charms/keystone-k8s/src/utils/manager.py
  charms/keystone-k8s/tests/unit/test_keystone_charm.py
  charms/keystone-saml-k8s/.gitignore
  charms/keystone-saml-k8s/.sunbeam-build.yaml
  charms/keystone-saml-k8s/LICENSE
  charms/keystone-saml-k8s/README.md
  charms/keystone-saml-k8s/charmcraft.yaml
  charms/keystone-saml-k8s/lib/charms/keystone_saml_k8s/v1/keystone_saml.py
  charms/keystone-saml-k8s/pyproject.toml
  charms/keystone-saml-k8s/requirements.txt
  charms/keystone-saml-k8s/src/certs.py
  charms/keystone-saml-k8s/src/charm.py
  charms/keystone-saml-k8s/tests/unit/__init__.py
  charms/keystone-saml-k8s/tests/unit/test_certs_utils.py
  charms/keystone-saml-k8s/tests/unit/test_keystone_saml_charm.py
  charms/keystone-saml-k8s/tox.ini
Due: charm-build-keystone-k8s, charm-build-horizon-k8s, func-test-core, func-test-misc, publish-charm-horizon-k8s, publish-charm-keystone-k8s

Update patch set 4
  7df74612211d15e381076e2b99b9e7b4f2b7b0ae
Due: none

Update patch set 4
  503d2453db14ed569437beca03b9d3405fa59bd9
Due: none

Update patch set 9
  69bff54d27df1a2d7ab2067419e94b43f0162a26
Due: none

Update patch set 1
  148f03751aa23bea4ad2593ae1ff8ac78b92a95d
Due: none

Add SAML2 support
  .gitignore
  charms/horizon-k8s/lib/charms/horizon_k8s/v0/trusted_dashboard.py
  charms/keystone-k8s/.sunbeam-build.yaml
  charms/keystone-k8s/charmcraft.yaml
  charms/keystone-k8s/src/charm.py
  charms/keystone-k8s/src/templates/apache2-oidc-params
  charms/keystone-k8s/src/templates/apache2-saml-params
  charms/keystone-k8s/src/templates/wsgi-keystone.conf.j2
  charms/keystone-k8s/src/utils/certs.py
  charms/keystone-k8s/src/utils/manager.py
  charms/keystone-k8s/tests/unit/test_keystone_charm.py
  charms/keystone-saml-k8s/.sunbeam-build.yaml
  charms/keystone-saml-k8s/LICENSE
  charms/keystone-saml-k8s/README.md
  charms/keystone-saml-k8s/charmcraft.yaml
  charms/keystone-saml-k8s/lib/charms/keystone_saml_k8s/v1/keystone_saml.py
  charms/keystone-saml-k8s/pyproject.toml
  charms/keystone-saml-k8s/requirements.txt
  charms/keystone-saml-k8s/src/certs.py
  charms/keystone-saml-k8s/src/charm.py
  charms/keystone-saml-k8s/tests/unit/__init__.py
  charms/keystone-saml-k8s/tests/unit/test_certs_utils.py
  charms/keystone-saml-k8s/tests/unit/test_keystone_saml_charm.py
Due: charm-build-keystone-k8s, charm-build-horizon-k8s, func-test-core, func-test-misc, publish-charm-horizon-k8s, publish-charm-keystone-k8s

Update patch set 4
  503d2453db14ed569437beca03b9d3405fa59bd9
  7df74612211d15e381076e2b99b9e7b4f2b7b0ae
Due: none

Update patch set 6
  f05da916c323be728dd6866bbd25e04ade4d26e1
Due: none

Add support for magnum-capi-helm
  charms/magnum-k8s/charmcraft.yaml
  charms/magnum-k8s/src/charm.py
  charms/magnum-k8s/src/templates/kubeconfig.j2
  charms/magnum-k8s/src/templates/magnum.conf.j2
  charms/magnum-k8s/tests/unit/test_magnum_charm.py
Due: charm-build-magnum-k8s, func-test-caas, publish-charm-magnum-k8s

Add SAML2 support
  .gitignore
  charms/horizon-k8s/lib/charms/horizon_k8s/v0/trusted_dashboard.py
  charms/keystone-k8s/.sunbeam-build.yaml
  charms/keystone-k8s/charmcraft.yaml
  charms/keystone-k8s/src/charm.py
  charms/keystone-k8s/src/templates/apache2-oidc-params
  charms/keystone-k8s/src/templates/apache2-saml-params
  charms/keystone-k8s/src/templates/wsgi-keystone.conf.j2
  charms/keystone-k8s/src/utils/certs.py
  charms/keystone-k8s/src/utils/manager.py
  charms/keystone-k8s/tests/unit/test_keystone_charm.py
  charms/keystone-saml-k8s/.sunbeam-build.yaml
  charms/keystone-saml-k8s/LICENSE
  charms/keystone-saml-k8s/README.md
  charms/keystone-saml-k8s/charmcraft.yaml
  charms/keystone-saml-k8s/lib/charms/keystone_saml_k8s/v1/keystone_saml.py
  charms/keystone-saml-k8s/pyproject.toml
  charms/keystone-saml-k8s/requirements.txt
  charms/keystone-saml-k8s/src/certs.py
  charms/keystone-saml-k8s/src/charm.py
  charms/keystone-saml-k8s/tests/unit/__init__.py
  charms/keystone-saml-k8s/tests/unit/test_certs_utils.py
  charms/keystone-saml-k8s/tests/unit/test_keystone_saml_charm.py
  tests/identity/smoke.yaml.j2
  tests/identity/tests.yaml
  zuul.d/jobs.yaml
Due: charm-build-keystone-k8s, charm-build-horizon-k8s, func-test-core, func-test-misc, publish-charm-horizon-k8s, publish-charm-keystone-k8s

Path conditions:
  charm-build-keystone-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-k8s/*, rebuild
  charm-build-tempest-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/tempest-k8s/*, rebuild
  charm-build-glance-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/glance-k8s/*, rebuild
  charm-build-nova-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/nova-k8s/*, rebuild
  charm-build-placement-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/placement-k8s/*, rebuild
  charm-build-neutron-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/neutron-k8s/*, rebuild
  charm-build-ovn-central-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ovn-central-k8s/*, rebuild
  charm-build-ovn-relay-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ovn-relay-k8s/*, rebuild
  charm-build-cinder-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-k8s/*, rebuild
  charm-build-cinder-ceph-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-ceph-k8s/*, rebuild
  charm-build-horizon-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/horizon-k8s/*, rebuild
  charm-build-heat-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/heat-k8s/*, rebuild
  charm-build-octavia-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/octavia-k8s/*, rebuild
  charm-build-aodh-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/aodh-k8s/*, rebuild
  charm-build-ceilometer-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ceilometer-k8s/*, rebuild
  charm-build-gnocchi-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/gnocchi-k8s/*, rebuild
  charm-build-barbican-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/barbican-k8s/*, rebuild
  charm-build-magnum-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/magnum-k8s/*, rebuild
  charm-build-designate-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-k8s/*, rebuild
  charm-build-designate-bind-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-bind-k8s/*, rebuild
  charm-build-keystone-ldap-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-ldap-k8s/*, rebuild
  charm-build-openstack-exporter-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-exporter-k8s/*, rebuild
  charm-build-openstack-hypervisor: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-hypervisor/*, rebuild
  charm-build-openstack-images-sync-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-images-sync-k8s/*, rebuild
  charm-build-sunbeam-machine: any of: ops-sunbeam/ops_sunbeam/*, charms/sunbeam-machine/*, rebuild
  charm-build-sunbeam-clusterd: any of: ops-sunbeam/ops_sunbeam/*, charms/sunbeam-clusterd/*, rebuild
  charm-build-watcher-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/watcher-k8s/*, rebuild
  charm-build-masakari-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/masakari-k8s/*, rebuild
  func-test-core: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-k8s/*, charms/glance-k8s/*, charms/nova-k8s/*, charms/neutron-k8s/*, charms/placement-k8s/*, charms/openstack-images-sync-k8s/*, charms/ovn-central-k8s/*, charms/ovn-relay-k8s/*, rebuild
  func-test-tempest: any of: ops-sunbeam/ops_sunbeam/*, charms/tempest-k8s/*, tests/local/zaza/sunbeam/charm_tests/tempest_k8s/*, rebuild
  func-test-ceph: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-k8s/*, charms/cinder-ceph-k8s/*, charms/gnocchi-k8s/*, charms/ceilometer-k8s/*, charms/aodh-k8s/*, charms/watcher-k8s/*, rebuild
  func-test-caas: any of: ops-sunbeam/ops_sunbeam/*, charms/heat-k8s/*, charms/octavia-k8s/*, charms/barbican-k8s/*, charms/magnum-k8s/*, rebuild
  func-test-misc: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-k8s/*, charms/designate-bind-k8s/*, charms/keystone-ldap-k8s/*, charms/openstack-exporter-k8s/*, charms/horizon-k8s/*, charms/masakari-k8s/*, rebuild
  func-test-machine: any of: ops-sunbeam/ops_sunbeam/*, charms/sunbeam-machine/*, charms/sunbeam-clusterd/*, rebuild
  publish-charm-aodh-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/aodh-k8s/*, rebuild
  publish-charm-barbican-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/barbican-k8s/*, rebuild
  publish-charm-ceilometer-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ceilometer-k8s/*, rebuild
  publish-charm-cinder-ceph-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-ceph-k8s/*, rebuild
  publish-charm-cinder-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-k8s/*, rebuild
  publish-charm-designate-bind-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-bind-k8s/*, rebuild
  publish-charm-designate-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-k8s/*, rebuild
  publish-charm-glance-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/glance-k8s/*, rebuild
  publish-charm-gnocchi-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/gnocchi-k8s/*, rebuild
  publish-charm-heat-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/heat-k8s/*, rebuild
  publish-charm-horizon-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/horizon-k8s/*, rebuild
  publish-charm-keystone-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-k8s/*, rebuild
  publish-charm-keystone-ldap-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-ldap-k8s/*, rebuild
  publish-charm-magnum-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/magnum-k8s/*, rebuild
  publish-charm-neutron-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/neutron-k8s/*, rebuild
  publish-charm-nova-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/nova-k8s/*, rebuild
  publish-charm-octavia-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/octavia-k8s/*, rebuild
  publish-charm-openstack-exporter-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-exporter-k8s/*, rebuild
  publish-charm-openstack-hypervisor: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-hypervisor/*, rebuild
  publish-charm-openstack-images-sync-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-images-sync-k8s/*, rebuild
  publish-charm-ovn-central-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ovn-central-k8s/*, rebuild
  publish-charm-ovn-relay-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ovn-relay-k8s/*, rebuild
  publish-charm-placement-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/placement-k8s/*, rebuild
  publish-charm-sunbeam-machine: any of: ops-sunbeam/ops_sunbeam/*, charms/sunbeam-machine/*, rebuild
  publish-charm-sunbeam-clusterd: any of: ops-sunbeam/ops_sunbeam/*, charms/sunbeam-clusterd/*, rebuild
  publish-charm-tempest-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/tempest-k8s/*, rebuild
  publish-charm-watcher-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/watcher-k8s/*, rebuild
  publish-charm-masakari-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/masakari-k8s/*, rebuild
