Repository thejjw/sunbeam-charms: changes, and which Zuul jobs are due for each by the changed paths.
All: charm-build-keystone-k8s, charm-build-glance-k8s, charm-build-nova-k8s, charm-build-placement-k8s, charm-build-neutron-k8s, charm-build-ovn-central-k8s, charm-build-ovn-relay-k8s, charm-build-cinder-k8s, charm-build-cinder-ceph-k8s, charm-build-horizon-k8s, charm-build-heat-k8s, charm-build-octavia-k8s, charm-build-aodh-k8s, charm-build-ceilometer-k8s, charm-build-gnocchi-k8s, charm-build-barbican-k8s, charm-build-magnum-k8s, charm-build-designate-k8s, charm-build-designate-bind-k8s, charm-build-keystone-ldap-k8s, charm-build-openstack-exporter-k8s, charm-build-openstack-hypervisor, charm-build-sunbeam-machine, func-test-core, func-test-ceph, func-test-caas, func-test-misc, publish-charm-aodh-k8s, publish-charm-barbican-k8s, publish-charm-ceilometer-k8s, publish-charm-cinder-ceph-k8s, publish-charm-cinder-k8s, publish-charm-designate-bind-k8s, publish-charm-designate-k8s, publish-charm-glance-k8s, publish-charm-gnocchi-k8s, publish-charm-heat-k8s, publish-charm-horizon-k8s, publish-charm-keystone-k8s, publish-charm-keystone-ldap-k8s, publish-charm-magnum-k8s, publish-charm-neutron-k8s, publish-charm-nova-k8s, publish-charm-octavia-k8s, publish-charm-openstack-exporter-k8s, publish-charm-openstack-hypervisor, publish-charm-ovn-central-k8s, publish-charm-ovn-relay-k8s, publish-charm-placement-k8s, publish-charm-sunbeam-machine

Path conditions:
  charm-build-keystone-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-k8s/*, rebuild
  charm-build-glance-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/glance-k8s/*, rebuild
  charm-build-nova-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/nova-k8s/*, rebuild
  charm-build-placement-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/placement-k8s/*, rebuild
  charm-build-neutron-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/neutron-k8s/*, rebuild
  charm-build-ovn-central-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ovn-central-k8s/*, rebuild
  charm-build-ovn-relay-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ovn-relay-k8s/*, rebuild
  charm-build-cinder-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-k8s/*, rebuild
  charm-build-cinder-ceph-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-ceph-k8s/*, rebuild
  charm-build-horizon-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/horizon-k8s/*, rebuild
  charm-build-heat-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/heat-k8s/*, rebuild
  charm-build-octavia-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/octavia-k8s/*, rebuild
  charm-build-aodh-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/aodh-k8s/*, rebuild
  charm-build-ceilometer-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ceilometer-k8s/*, rebuild
  charm-build-gnocchi-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/gnocchi-k8s/*, rebuild
  charm-build-barbican-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/barbican-k8s/*, rebuild
  charm-build-magnum-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/magnum-k8s/*, rebuild
  charm-build-designate-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-k8s/*, rebuild
  charm-build-designate-bind-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-bind-k8s/*, rebuild
  charm-build-keystone-ldap-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-ldap-k8s/*, rebuild
  charm-build-openstack-exporter-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-exporter-k8s/*, rebuild
  charm-build-openstack-hypervisor: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-hypervisor/*, rebuild
  charm-build-sunbeam-machine: any of: ops-sunbeam/ops_sunbeam/*, charms/sunbeam-machine/*, rebuild
  func-test-core: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-k8s/*, charms/glance-k8s/*, charms/nova-k8s/*, charms/neutron-k8s/*, charms/placement-k8s/*, charms/ovn-central-k8s/*, charms/ovn-relay-k8s/*, charms/horizon-k8s/*, rebuild
  func-test-ceph: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-k8s/*, charms/cinder-ceph-k8s/*, charms/gnocchi-k8s/*, charms/ceilometer-k8s/*, charms/aodh-k8s/*, rebuild
  func-test-caas: any of: ops-sunbeam/ops_sunbeam/*, charms/heat-k8s/*, charms/octavia-k8s/*, charms/barbican-k8s/*, charms/magnum-k8s/*, rebuild
  func-test-misc: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-k8s/*, charms/designate-bind-k8s/*, charms/keystone-ldap-k8s/*, charms/openstack-exporter-k8s/*, rebuild
  publish-charm-aodh-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/aodh-k8s/*, rebuild
  publish-charm-barbican-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/barbican-k8s/*, rebuild
  publish-charm-ceilometer-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ceilometer-k8s/*, rebuild
  publish-charm-cinder-ceph-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-ceph-k8s/*, rebuild
  publish-charm-cinder-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-k8s/*, rebuild
  publish-charm-designate-bind-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-bind-k8s/*, rebuild
  publish-charm-designate-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-k8s/*, rebuild
  publish-charm-glance-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/glance-k8s/*, rebuild
  publish-charm-gnocchi-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/gnocchi-k8s/*, rebuild
  publish-charm-heat-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/heat-k8s/*, rebuild
  publish-charm-horizon-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/horizon-k8s/*, rebuild
  publish-charm-keystone-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-k8s/*, rebuild
  publish-charm-keystone-ldap-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-ldap-k8s/*, rebuild
  publish-charm-magnum-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/magnum-k8s/*, rebuild
  publish-charm-neutron-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/neutron-k8s/*, rebuild
  publish-charm-nova-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/nova-k8s/*, rebuild
  publish-charm-octavia-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/octavia-k8s/*, rebuild
  publish-charm-openstack-exporter-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-exporter-k8s/*, rebuild
  publish-charm-openstack-hypervisor: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-hypervisor/*, rebuild
  publish-charm-ovn-central-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ovn-central-k8s/*, rebuild
  publish-charm-ovn-relay-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ovn-relay-k8s/*, rebuild
  publish-charm-placement-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/placement-k8s/*, rebuild
  publish-charm-sunbeam-machine: any of: ops-sunbeam/ops_sunbeam/*, charms/sunbeam-machine/*, rebuild

Remove bundles in the charms
  charms/aodh-k8s/tests/bundles/smoke.yaml
  charms/aodh-k8s/tests/tests.yaml
  charms/barbican-k8s/tests/bundles/smoke.yaml
  charms/barbican-k8s/tests/tests.yaml
  charms/ceilometer-k8s/tests/bundles/smoke.yaml
  charms/ceilometer-k8s/tests/tests.yaml
  charms/cinder-ceph-k8s/tests/bundles/smoke.yaml
  charms/cinder-ceph-k8s/tests/tests.yaml
  charms/cinder-k8s/tests/bundles/smoke.yaml
  charms/cinder-k8s/tests/tests.yaml
  charms/designate-bind-k8s/tests/bundles/smoke.yaml
  charms/designate-bind-k8s/tests/tests.yaml
  charms/designate-k8s/tests/bundles/smoke.yaml
  charms/designate-k8s/tests/tests.yaml
  charms/glance-k8s/tests/bundles/smoke.yaml
  charms/glance-k8s/tests/tests.yaml
  charms/gnocchi-k8s/tests/bundles/smoke.yaml
  charms/gnocchi-k8s/tests/tests.yaml
  charms/heat-k8s/tests/bundles/smoke.yaml
  charms/heat-k8s/tests/tests.yaml
  charms/keystone-k8s/tests/bundles/smoke.yaml
  charms/keystone-k8s/tests/tests.yaml
  charms/keystone-ldap-k8s/tests/bundles/smoke.yaml
  charms/keystone-ldap-k8s/tests/tests.yaml
  charms/magnum-k8s/tests/bundles/smoke.yaml
  charms/magnum-k8s/tests/tests.yaml
  charms/neutron-k8s/tests/bundles/smoke.yaml
  charms/neutron-k8s/tests/tests.yaml
  charms/nova-k8s/tests/bundles/smoke.yaml
  charms/nova-k8s/tests/tests.yaml
  charms/octavia-k8s/tests/bundles/smoke.yaml
  charms/octavia-k8s/tests/tests.yaml
  charms/openstack-exporter-k8s/tests/bundles/smoke.yaml
  charms/openstack-exporter-k8s/tests/tests.yaml
  charms/ovn-central-k8s/tests/bundles/smoke.yaml
  charms/ovn-central-k8s/tests/tests.yaml
  charms/ovn-relay-k8s/tests/bundles/smoke.yaml
  charms/ovn-relay-k8s/tests/tests.yaml
  charms/placement-k8s/tests/bundles/smoke.yaml
  charms/placement-k8s/tests/tests.yaml
Due: charm-build-keystone-k8s, charm-build-glance-k8s, charm-build-nova-k8s, charm-build-placement-k8s, charm-build-neutron-k8s, charm-build-ovn-central-k8s, charm-build-ovn-relay-k8s, charm-build-cinder-k8s, charm-build-cinder-ceph-k8s, charm-build-heat-k8s, charm-build-octavia-k8s, charm-build-aodh-k8s, charm-build-ceilometer-k8s, charm-build-gnocchi-k8s, charm-build-barbican-k8s, charm-build-magnum-k8s, charm-build-designate-k8s, charm-build-designate-bind-k8s, charm-build-keystone-ldap-k8s, charm-build-openstack-exporter-k8s, func-test-core, func-test-ceph, func-test-caas, func-test-misc, publish-charm-aodh-k8s, publish-charm-barbican-k8s, publish-charm-ceilometer-k8s, publish-charm-cinder-ceph-k8s, publish-charm-cinder-k8s, publish-charm-designate-bind-k8s, publish-charm-designate-k8s, publish-charm-glance-k8s, publish-charm-gnocchi-k8s, publish-charm-heat-k8s, publish-charm-keystone-k8s, publish-charm-keystone-ldap-k8s, publish-charm-magnum-k8s, publish-charm-neutron-k8s, publish-charm-nova-k8s, publish-charm-octavia-k8s, publish-charm-openstack-exporter-k8s, publish-charm-ovn-central-k8s, publish-charm-ovn-relay-k8s, publish-charm-placement-k8s

WIP Improve tempest alert rules
  charms/tempest-k8s/src/loki_alert_rules/tests.rules
Due: none

Update patch set 2
  308850d6516ec986cf382afae0c349a2cfce43a2
Due: none

Remove unnecessary files in cookiecutter code
  ops-sunbeam/shared_code/sunbeam_charm/{{cookiecutter.service_name}}/fetch-libs.sh
  ops-sunbeam/shared_code/sunbeam_charm/{{cookiecutter.service_name}}/osci.yaml
  ops-sunbeam/shared_code/sunbeam_charm/{{cookiecutter.service_name}}/pyproject.toml
  ops-sunbeam/shared_code/sunbeam_charm/{{cookiecutter.service_name}}/rename.sh
  ops-sunbeam/shared_code/sunbeam_charm/{{cookiecutter.service_name}}/tests/tests.yaml
  ops-sunbeam/shared_code/sunbeam_charm/{{cookiecutter.service_name}}/tox.ini
Due: none

Update patch set 3
  ff91274393b4f39da9ddbd759c0daf8d9ed55e84
Due: none

Update notes for submitted changes
  ff91274393b4f39da9ddbd759c0daf8d9ed55e84
Due: none

Update patch set 1
  1904a035b00dfc07b267012efc494a10b552210c
Due: none

Update notes for submitted changes
  1904a035b00dfc07b267012efc494a10b552210c
Due: none

Update patch set 1
  914456f91ea8b20910af8f5233a023076b8810d9
Due: none

Update notes for submitted changes
  914456f91ea8b20910af8f5233a023076b8810d9
Due: none

[all] reduce mysql-pooling to sensible defaults
  charms/barbican-k8s/src/templates/barbican.conf
  charms/cinder-ceph-k8s/src/templates/cinder.conf.j2
  charms/designate-k8s/src/templates/designate.conf.j2
  charms/horizon-k8s/src/templates/local_settings.py.j2
  charms/nova-k8s/src/templates/nova.conf.j2
  charms/placement-k8s/src/templates/placement.conf
  common.sh
  templates/parts/database-connection-settings
  templates/parts/section-database
Due: charm-build-nova-k8s, charm-build-placement-k8s, charm-build-cinder-ceph-k8s, charm-build-horizon-k8s, charm-build-barbican-k8s, charm-build-designate-k8s, func-test-core, func-test-ceph, func-test-caas, func-test-misc, publish-charm-barbican-k8s, publish-charm-cinder-ceph-k8s, publish-charm-designate-k8s, publish-charm-horizon-k8s, publish-charm-nova-k8s, publish-charm-placement-k8s

[all] reduce mysql-pooling to sensible defaults
  charms/barbican-k8s/src/templates/barbican.conf
  charms/cinder-ceph-k8s/src/templates/cinder.conf.j2
  charms/designate-k8s/src/templates/designate.conf.j2
  charms/horizon-k8s/src/templates/local_settings.py.j2
  charms/nova-k8s/src/templates/nova.conf.j2
  charms/placement-k8s/src/templates/placement.conf
  common.sh
  rebuild
  templates/parts/database-connection-settings
  templates/parts/section-database
Due: charm-build-keystone-k8s, charm-build-glance-k8s, charm-build-nova-k8s, charm-build-placement-k8s, charm-build-neutron-k8s, charm-build-ovn-central-k8s, charm-build-ovn-relay-k8s, charm-build-cinder-k8s, charm-build-cinder-ceph-k8s, charm-build-horizon-k8s, charm-build-heat-k8s, charm-build-octavia-k8s, charm-build-aodh-k8s, charm-build-ceilometer-k8s, charm-build-gnocchi-k8s, charm-build-barbican-k8s, charm-build-magnum-k8s, charm-build-designate-k8s, charm-build-designate-bind-k8s, charm-build-keystone-ldap-k8s, charm-build-openstack-exporter-k8s, charm-build-openstack-hypervisor, charm-build-sunbeam-machine, func-test-core, func-test-ceph, func-test-caas, func-test-misc, publish-charm-aodh-k8s, publish-charm-barbican-k8s, publish-charm-ceilometer-k8s, publish-charm-cinder-ceph-k8s, publish-charm-cinder-k8s, publish-charm-designate-bind-k8s, publish-charm-designate-k8s, publish-charm-glance-k8s, publish-charm-gnocchi-k8s, publish-charm-heat-k8s, publish-charm-horizon-k8s, publish-charm-keystone-k8s, publish-charm-keystone-ldap-k8s, publish-charm-magnum-k8s, publish-charm-neutron-k8s, publish-charm-nova-k8s, publish-charm-octavia-k8s, publish-charm-openstack-exporter-k8s, publish-charm-openstack-hypervisor, publish-charm-ovn-central-k8s, publish-charm-ovn-relay-k8s, publish-charm-placement-k8s, publish-charm-sunbeam-machine
