Repository thejjw/sunbeam-charms: changes, and which Zuul jobs are due for each by the changed paths.
All: charm-build-keystone-k8s, charm-build-glance-k8s, charm-build-nova-k8s, charm-build-placement-k8s, charm-build-neutron-k8s, charm-build-ovn-central-k8s, charm-build-ovn-relay-k8s, charm-build-cinder-k8s, charm-build-cinder-ceph-k8s, charm-build-horizon-k8s, charm-build-heat-k8s, charm-build-octavia-k8s, charm-build-aodh-k8s, charm-build-ceilometer-k8s, charm-build-gnocchi-k8s, charm-build-barbican-k8s, charm-build-magnum-k8s, charm-build-designate-k8s, charm-build-designate-bind-k8s, charm-build-keystone-ldap-k8s, charm-build-openstack-exporter-k8s, charm-build-openstack-hypervisor, charm-build-sunbeam-machine, func-test-core, func-test-ceph, func-test-caas, func-test-misc, publish-charm-aodh-k8s, publish-charm-barbican-k8s, publish-charm-ceilometer-k8s, publish-charm-cinder-ceph-k8s, publish-charm-cinder-k8s, publish-charm-designate-bind-k8s, publish-charm-designate-k8s, publish-charm-glance-k8s, publish-charm-gnocchi-k8s, publish-charm-heat-k8s, publish-charm-horizon-k8s, publish-charm-keystone-k8s, publish-charm-keystone-ldap-k8s, publish-charm-magnum-k8s, publish-charm-neutron-k8s, publish-charm-nova-k8s, publish-charm-octavia-k8s, publish-charm-openstack-exporter-k8s, publish-charm-openstack-hypervisor, publish-charm-ovn-central-k8s, publish-charm-ovn-relay-k8s, publish-charm-placement-k8s, publish-charm-sunbeam-machine

Path conditions:
  charm-build-keystone-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-k8s/*, rebuild
  charm-build-glance-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/glance-k8s/*, rebuild
  charm-build-nova-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/nova-k8s/*, rebuild
  charm-build-placement-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/placement-k8s/*, rebuild
  charm-build-neutron-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/neutron-k8s/*, rebuild
  charm-build-ovn-central-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ovn-central-k8s/*, rebuild
  charm-build-ovn-relay-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ovn-relay-k8s/*, rebuild
  charm-build-cinder-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-k8s/*, rebuild
  charm-build-cinder-ceph-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-ceph-k8s/*, rebuild
  charm-build-horizon-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/horizon-k8s/*, rebuild
  charm-build-heat-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/heat-k8s/*, rebuild
  charm-build-octavia-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/octavia-k8s/*, rebuild
  charm-build-aodh-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/aodh-k8s/*, rebuild
  charm-build-ceilometer-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ceilometer-k8s/*, rebuild
  charm-build-gnocchi-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/gnocchi-k8s/*, rebuild
  charm-build-barbican-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/barbican-k8s/*, rebuild
  charm-build-magnum-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/magnum-k8s/*, rebuild
  charm-build-designate-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-k8s/*, rebuild
  charm-build-designate-bind-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-bind-k8s/*, rebuild
  charm-build-keystone-ldap-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-ldap-k8s/*, rebuild
  charm-build-openstack-exporter-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-exporter-k8s/*, rebuild
  charm-build-openstack-hypervisor: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-hypervisor/*, rebuild
  charm-build-sunbeam-machine: any of: ops-sunbeam/ops_sunbeam/*, charms/sunbeam-machine/*, rebuild
  func-test-core: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-k8s/*, charms/glance-k8s/*, charms/nova-k8s/*, charms/neutron-k8s/*, charms/placement-k8s/*, charms/ovn-central-k8s/*, charms/ovn-relay-k8s/*, charms/horizon-k8s/*, rebuild
  func-test-ceph: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-k8s/*, charms/cinder-ceph-k8s/*, charms/gnocchi-k8s/*, charms/ceilometer-k8s/*, charms/aodh-k8s/*, rebuild
  func-test-caas: any of: ops-sunbeam/ops_sunbeam/*, charms/heat-k8s/*, charms/octavia-k8s/*, charms/barbican-k8s/*, charms/magnum-k8s/*, rebuild
  func-test-misc: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-k8s/*, charms/designate-bind-k8s/*, charms/keystone-ldap-k8s/*, charms/openstack-exporter-k8s/*, rebuild
  publish-charm-aodh-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/aodh-k8s/*, rebuild
  publish-charm-barbican-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/barbican-k8s/*, rebuild
  publish-charm-ceilometer-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ceilometer-k8s/*, rebuild
  publish-charm-cinder-ceph-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-ceph-k8s/*, rebuild
  publish-charm-cinder-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-k8s/*, rebuild
  publish-charm-designate-bind-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-bind-k8s/*, rebuild
  publish-charm-designate-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-k8s/*, rebuild
  publish-charm-glance-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/glance-k8s/*, rebuild
  publish-charm-gnocchi-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/gnocchi-k8s/*, rebuild
  publish-charm-heat-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/heat-k8s/*, rebuild
  publish-charm-horizon-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/horizon-k8s/*, rebuild
  publish-charm-keystone-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-k8s/*, rebuild
  publish-charm-keystone-ldap-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-ldap-k8s/*, rebuild
  publish-charm-magnum-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/magnum-k8s/*, rebuild
  publish-charm-neutron-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/neutron-k8s/*, rebuild
  publish-charm-nova-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/nova-k8s/*, rebuild
  publish-charm-octavia-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/octavia-k8s/*, rebuild
  publish-charm-openstack-exporter-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-exporter-k8s/*, rebuild
  publish-charm-openstack-hypervisor: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-hypervisor/*, rebuild
  publish-charm-ovn-central-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ovn-central-k8s/*, rebuild
  publish-charm-ovn-relay-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ovn-relay-k8s/*, rebuild
  publish-charm-placement-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/placement-k8s/*, rebuild
  publish-charm-sunbeam-machine: any of: ops-sunbeam/ops_sunbeam/*, charms/sunbeam-machine/*, rebuild

Update robot comments
  8702875e5d3d1d7c93625c15dc48fc186bde6111
Due: none

[designate-bind-k8s] store rndc secrets in peer relation
  charms/designate-bind-k8s/src/charm.py
Due: charm-build-designate-bind-k8s, func-test-misc, publish-charm-designate-bind-k8s

[*-k8s] implement log forwarder
  charms/aodh-k8s/metadata.yaml
  charms/barbican-k8s/metadata.yaml
  charms/ceilometer-k8s/metadata.yaml
  charms/cinder-ceph-k8s/metadata.yaml
  charms/cinder-k8s/metadata.yaml
  charms/designate-bind-k8s/metadata.yaml
  charms/designate-k8s/metadata.yaml
  charms/glance-k8s/metadata.yaml
  charms/gnocchi-k8s/metadata.yaml
  charms/heat-k8s/metadata.yaml
  charms/horizon-k8s/metadata.yaml
  charms/keystone-k8s/metadata.yaml
  charms/keystone-k8s/tests/unit/test_keystone_charm.py
  charms/keystone-ldap-k8s/metadata.yaml
  charms/magnum-k8s/metadata.yaml
  charms/neutron-k8s/metadata.yaml
  charms/nova-k8s/metadata.yaml
  charms/octavia-k8s/metadata.yaml
  charms/openstack-exporter-k8s/metadata.yaml
  charms/openstack-images-sync-k8s/charmcraft.yaml
  charms/ovn-central-k8s/metadata.yaml
  charms/ovn-relay-k8s/metadata.yaml
  charms/placement-k8s/metadata.yaml
  charms/tempest-k8s/charmcraft.yaml
  charms/tempest-k8s/src/charm.py
  common.sh
  libs/external/lib/charms/loki_k8s/v1/loki_push_api.py
  ops-sunbeam/ops_sunbeam/charm.py
  ops-sunbeam/ops_sunbeam/relation_handlers.py
  ops-sunbeam/ops_sunbeam/test_utils.py
Due: charm-build-keystone-k8s, charm-build-glance-k8s, charm-build-nova-k8s, charm-build-placement-k8s, charm-build-neutron-k8s, charm-build-ovn-central-k8s, charm-build-ovn-relay-k8s, charm-build-cinder-k8s, charm-build-cinder-ceph-k8s, charm-build-horizon-k8s, charm-build-heat-k8s, charm-build-octavia-k8s, charm-build-aodh-k8s, charm-build-ceilometer-k8s, charm-build-gnocchi-k8s, charm-build-barbican-k8s, charm-build-magnum-k8s, charm-build-designate-k8s, charm-build-designate-bind-k8s, charm-build-keystone-ldap-k8s, charm-build-openstack-exporter-k8s, charm-build-openstack-hypervisor, charm-build-sunbeam-machine, func-test-core, func-test-ceph, func-test-caas, func-test-misc, publish-charm-aodh-k8s, publish-charm-barbican-k8s, publish-charm-ceilometer-k8s, publish-charm-cinder-ceph-k8s, publish-charm-cinder-k8s, publish-charm-designate-bind-k8s, publish-charm-designate-k8s, publish-charm-glance-k8s, publish-charm-gnocchi-k8s, publish-charm-heat-k8s, publish-charm-horizon-k8s, publish-charm-keystone-k8s, publish-charm-keystone-ldap-k8s, publish-charm-magnum-k8s, publish-charm-neutron-k8s, publish-charm-nova-k8s, publish-charm-octavia-k8s, publish-charm-openstack-exporter-k8s, publish-charm-openstack-hypervisor, publish-charm-ovn-central-k8s, publish-charm-ovn-relay-k8s, publish-charm-placement-k8s, publish-charm-sunbeam-machine

[*-k8s] implement log forwarder
  charms/aodh-k8s/metadata.yaml
  charms/barbican-k8s/metadata.yaml
  charms/ceilometer-k8s/metadata.yaml
  charms/cinder-ceph-k8s/metadata.yaml
  charms/cinder-k8s/metadata.yaml
  charms/designate-bind-k8s/metadata.yaml
  charms/designate-k8s/metadata.yaml
  charms/glance-k8s/metadata.yaml
  charms/gnocchi-k8s/metadata.yaml
  charms/heat-k8s/metadata.yaml
  charms/horizon-k8s/metadata.yaml
  charms/keystone-k8s/metadata.yaml
  charms/keystone-k8s/tests/unit/test_keystone_charm.py
  charms/keystone-ldap-k8s/metadata.yaml
  charms/magnum-k8s/metadata.yaml
  charms/neutron-k8s/metadata.yaml
  charms/nova-k8s/metadata.yaml
  charms/octavia-k8s/metadata.yaml
  charms/openstack-exporter-k8s/metadata.yaml
  charms/openstack-images-sync-k8s/charmcraft.yaml
  charms/ovn-central-k8s/metadata.yaml
  charms/ovn-relay-k8s/metadata.yaml
  charms/placement-k8s/metadata.yaml
  charms/tempest-k8s/charmcraft.yaml
  charms/tempest-k8s/src/charm.py
  charms/tempest-k8s/tests/unit/test_tempest_charm.py
  common.sh
  libs/external/lib/charms/loki_k8s/v1/loki_push_api.py
  ops-sunbeam/ops_sunbeam/charm.py
  ops-sunbeam/ops_sunbeam/relation_handlers.py
  ops-sunbeam/ops_sunbeam/test_utils.py
Due: charm-build-keystone-k8s, charm-build-glance-k8s, charm-build-nova-k8s, charm-build-placement-k8s, charm-build-neutron-k8s, charm-build-ovn-central-k8s, charm-build-ovn-relay-k8s, charm-build-cinder-k8s, charm-build-cinder-ceph-k8s, charm-build-horizon-k8s, charm-build-heat-k8s, charm-build-octavia-k8s, charm-build-aodh-k8s, charm-build-ceilometer-k8s, charm-build-gnocchi-k8s, charm-build-barbican-k8s, charm-build-magnum-k8s, charm-build-designate-k8s, charm-build-designate-bind-k8s, charm-build-keystone-ldap-k8s, charm-build-openstack-exporter-k8s, charm-build-openstack-hypervisor, charm-build-sunbeam-machine, func-test-core, func-test-ceph, func-test-caas, func-test-misc, publish-charm-aodh-k8s, publish-charm-barbican-k8s, publish-charm-ceilometer-k8s, publish-charm-cinder-ceph-k8s, publish-charm-cinder-k8s, publish-charm-designate-bind-k8s, publish-charm-designate-k8s, publish-charm-glance-k8s, publish-charm-gnocchi-k8s, publish-charm-heat-k8s, publish-charm-horizon-k8s, publish-charm-keystone-k8s, publish-charm-keystone-ldap-k8s, publish-charm-magnum-k8s, publish-charm-neutron-k8s, publish-charm-nova-k8s, publish-charm-octavia-k8s, publish-charm-openstack-exporter-k8s, publish-charm-openstack-hypervisor, publish-charm-ovn-central-k8s, publish-charm-ovn-relay-k8s, publish-charm-placement-k8s, publish-charm-sunbeam-machine

Update patch set 4
  0214e8f17333e3aa4ee767f2dbe71a12242326fe
Due: none

Update patch set 2
  4af826b1bc3c42c898e85a674eb99937667f791a
Due: none

Add TLS support for tempest-k8s.
  charms/tempest-k8s/charmcraft.yaml
  charms/tempest-k8s/src/charm.py
  charms/tempest-k8s/src/handlers.py
  charms/tempest-k8s/src/templates/tempest-run-wrapper.j2
  charms/tempest-k8s/src/utils/cleanup.py
  charms/tempest-k8s/src/utils/constants.py
  charms/tempest-k8s/tests/unit/test_cleanup.py
  common.sh
  tests/tempest/smoke.yaml.j2
Due: none

Update patch set 3
  4af826b1bc3c42c898e85a674eb99937667f791a
Due: none

Update patch set 2
  00bcbbfdc9c6689f1fef9d681a7f2139ebad2886
Due: none

Update notes for submitted changes
  00bcbbfdc9c6689f1fef9d681a7f2139ebad2886
Due: none

Update notes for submitted changes
  0214e8f17333e3aa4ee767f2dbe71a12242326fe
Due: none

Update patch set 1
  16a65cf4e4b58f2aa370d38308875eefbd4b1d25
Due: none
