Repository thejjw/sunbeam-charms: changes, and which Zuul jobs are due for each by the changed paths.
All: charm-build-keystone-k8s, charm-build-tempest-k8s, charm-build-glance-k8s, charm-build-nova-k8s, charm-build-placement-k8s, charm-build-neutron-k8s, charm-build-ovn-central-k8s, charm-build-ovn-relay-k8s, charm-build-cinder-k8s, charm-build-cinder-ceph-k8s, charm-build-horizon-k8s, charm-build-heat-k8s, charm-build-octavia-k8s, charm-build-aodh-k8s, charm-build-ceilometer-k8s, charm-build-gnocchi-k8s, charm-build-barbican-k8s, charm-build-magnum-k8s, charm-build-designate-k8s, charm-build-designate-bind-k8s, charm-build-keystone-ldap-k8s, charm-build-openstack-exporter-k8s, charm-build-openstack-hypervisor, charm-build-openstack-images-sync-k8s, charm-build-sunbeam-machine, charm-build-sunbeam-clusterd, charm-build-watcher-k8s, charm-build-masakari-k8s, func-test-core, func-test-tempest, func-test-ceph, func-test-caas, func-test-misc, func-test-machine, publish-charm-aodh-k8s, publish-charm-barbican-k8s, publish-charm-ceilometer-k8s, publish-charm-cinder-ceph-k8s, publish-charm-cinder-k8s, publish-charm-designate-bind-k8s, publish-charm-designate-k8s, publish-charm-glance-k8s, publish-charm-gnocchi-k8s, publish-charm-heat-k8s, publish-charm-horizon-k8s, publish-charm-keystone-k8s, publish-charm-keystone-ldap-k8s, publish-charm-magnum-k8s, publish-charm-neutron-k8s, publish-charm-nova-k8s, publish-charm-octavia-k8s, publish-charm-openstack-exporter-k8s, publish-charm-openstack-hypervisor, publish-charm-openstack-images-sync-k8s, publish-charm-ovn-central-k8s, publish-charm-ovn-relay-k8s, publish-charm-placement-k8s, publish-charm-sunbeam-machine, publish-charm-sunbeam-clusterd, publish-charm-tempest-k8s, publish-charm-watcher-k8s, publish-charm-masakari-k8s

charm-build-keystone-k8s:
  description: Build sunbeam keystone-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: keystone-k8s

charm-build-tempest-k8s:
  description: Build sunbeam tempest-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: tempest-k8s

charm-build-glance-k8s:
  description: Build sunbeam glance-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: glance-k8s

charm-build-nova-k8s:
  description: Build sunbeam nova-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: nova-k8s

charm-build-placement-k8s:
  description: Build sunbeam placement-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: placement-k8s

charm-build-neutron-k8s:
  description: Build sunbeam neutron-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: neutron-k8s

charm-build-ovn-central-k8s:
  description: Build sunbeam ovn-central-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: ovn-central-k8s

charm-build-ovn-relay-k8s:
  description: Build sunbeam ovn-relay-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: ovn-relay-k8s

charm-build-cinder-k8s:
  description: Build sunbeam cinder-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: cinder-k8s

charm-build-cinder-ceph-k8s:
  description: Build sunbeam cinder-ceph-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: cinder-ceph-k8s

charm-build-horizon-k8s:
  description: Build sunbeam horizon-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: horizon-k8s

charm-build-heat-k8s:
  description: Build sunbeam heat-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: heat-k8s

charm-build-octavia-k8s:
  description: Build sunbeam octavia-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: octavia-k8s

charm-build-aodh-k8s:
  description: Build sunbeam aodh-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: aodh-k8s

charm-build-ceilometer-k8s:
  description: Build sunbeam ceilometer-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: ceilometer-k8s

charm-build-gnocchi-k8s:
  description: Build sunbeam gnocchi-k8s charm
  run: playbooks/charm/build.yaml
  timeout: 3600
  match-on-config-updates: false
  vars:
    charm: gnocchi-k8s

Update patch set 2
  6930df5472f2097d0014cfcaac9e7a25894af698
Due: none

[glance-k8s] set minimum storage size to defaults
  charms/glance-k8s/charmcraft.yaml
  roles/k8s/tasks/main.yaml
  tests/core/tests.yaml
  tests/local/zaza/sunbeam/charm_tests/k8s/__init__.py
  tests/local/zaza/sunbeam/charm_tests/k8s/setup.py
  tox.ini
Due: charm-build-glance-k8s, func-test-core, publish-charm-glance-k8s

Update notes for submitted changes
  69/30df5472f2097d0014cfcaac9e7a25894af698
Due: none

[ci] Add loadbalancer annotations as part of setup
  roles/k8s/tasks/main.yaml
  tests/caas/tests.yaml
  tests/core/tests.yaml
  tests/local/zaza/sunbeam/charm_tests/k8s/__init__.py
  tests/local/zaza/sunbeam/charm_tests/k8s/setup.py
  tests/tempest/tests.yaml
  tox.ini
Due: none

[glance-k8s] set minimum storage size to defaults
  charms/glance-k8s/charmcraft.yaml
Due: charm-build-glance-k8s, func-test-core, publish-charm-glance-k8s

Update patch set 1
  389e94939bf02d59cb239a6f5a5a4d90461298a2
Due: none

Update patch set 10
  d51938f4ced5716ae56dc7651868df11dce210e8
Due: none

Update notes for submitted changes
  d5/1938f4ced5716ae56dc7651868df11dce210e8
Due: none

[glance-k8s] set image-size-cap default to 1G
  charms/glance-k8s/charmcraft.yaml
Due: charm-build-glance-k8s, func-test-core, publish-charm-glance-k8s

Update patch set 1
  45e7919a980e88f18c127db7c00321108608ce48
Due: none

Update notes for submitted changes
  45/e7919a980e88f18c127db7c00321108608ce48
Due: none

[WIP] [ci] Add loadbalancer annotations as part of setup
  charms/watcher-k8s/rebuild
  roles/k8s/tasks/main.yaml
  tests/caas/tests.yaml
  tests/ceph/tests.yaml
  tests/core/tests.yaml
  tests/local/zaza/sunbeam/charm_tests/k8s/__init__.py
  tests/local/zaza/sunbeam/charm_tests/k8s/setup.py
  tests/misc/tests.yaml
  tests/tempest/tests.yaml
  tox.ini
Due: charm-build-watcher-k8s, func-test-ceph, publish-charm-watcher-k8s

Path conditions:
  charm-build-keystone-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-k8s/*, rebuild
  charm-build-tempest-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/tempest-k8s/*, rebuild
  charm-build-glance-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/glance-k8s/*, rebuild
  charm-build-nova-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/nova-k8s/*, rebuild
  charm-build-placement-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/placement-k8s/*, rebuild
  charm-build-neutron-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/neutron-k8s/*, rebuild
  charm-build-ovn-central-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ovn-central-k8s/*, rebuild
  charm-build-ovn-relay-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ovn-relay-k8s/*, rebuild
  charm-build-cinder-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-k8s/*, rebuild
  charm-build-cinder-ceph-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-ceph-k8s/*, rebuild
  charm-build-horizon-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/horizon-k8s/*, rebuild
  charm-build-heat-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/heat-k8s/*, rebuild
  charm-build-octavia-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/octavia-k8s/*, rebuild
  charm-build-aodh-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/aodh-k8s/*, rebuild
  charm-build-ceilometer-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ceilometer-k8s/*, rebuild
  charm-build-gnocchi-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/gnocchi-k8s/*, rebuild
  charm-build-barbican-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/barbican-k8s/*, rebuild
  charm-build-magnum-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/magnum-k8s/*, rebuild
  charm-build-designate-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-k8s/*, rebuild
  charm-build-designate-bind-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-bind-k8s/*, rebuild
  charm-build-keystone-ldap-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-ldap-k8s/*, rebuild
  charm-build-openstack-exporter-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-exporter-k8s/*, rebuild
  charm-build-openstack-hypervisor: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-hypervisor/*, rebuild
  charm-build-openstack-images-sync-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-images-sync-k8s/*, rebuild
  charm-build-sunbeam-machine: any of: ops-sunbeam/ops_sunbeam/*, charms/sunbeam-machine/*, rebuild
  charm-build-sunbeam-clusterd: any of: ops-sunbeam/ops_sunbeam/*, charms/sunbeam-clusterd/*, rebuild
  charm-build-watcher-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/watcher-k8s/*, rebuild
  charm-build-masakari-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/masakari-k8s/*, rebuild
  func-test-core: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-k8s/*, charms/glance-k8s/*, charms/nova-k8s/*, charms/neutron-k8s/*, charms/placement-k8s/*, charms/openstack-images-sync-k8s/*, charms/ovn-central-k8s/*, charms/ovn-relay-k8s/*, rebuild
  func-test-tempest: any of: ops-sunbeam/ops_sunbeam/*, charms/tempest-k8s/*, tests/local/zaza/sunbeam/charm_tests/tempest_k8s/*, rebuild
  func-test-ceph: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-k8s/*, charms/cinder-ceph-k8s/*, charms/gnocchi-k8s/*, charms/ceilometer-k8s/*, charms/aodh-k8s/*, charms/watcher-k8s/*, rebuild
  func-test-caas: any of: ops-sunbeam/ops_sunbeam/*, charms/heat-k8s/*, charms/octavia-k8s/*, charms/barbican-k8s/*, charms/magnum-k8s/*, rebuild
  func-test-misc: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-k8s/*, charms/designate-bind-k8s/*, charms/keystone-ldap-k8s/*, charms/openstack-exporter-k8s/*, charms/horizon-k8s/*, charms/masakari-k8s/*, rebuild
  func-test-machine: any of: ops-sunbeam/ops_sunbeam/*, charms/sunbeam-machine/*, charms/sunbeam-clusterd/*, rebuild
  publish-charm-aodh-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/aodh-k8s/*, rebuild
  publish-charm-barbican-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/barbican-k8s/*, rebuild
  publish-charm-ceilometer-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ceilometer-k8s/*, rebuild
  publish-charm-cinder-ceph-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-ceph-k8s/*, rebuild
  publish-charm-cinder-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/cinder-k8s/*, rebuild
  publish-charm-designate-bind-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-bind-k8s/*, rebuild
  publish-charm-designate-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/designate-k8s/*, rebuild
  publish-charm-glance-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/glance-k8s/*, rebuild
  publish-charm-gnocchi-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/gnocchi-k8s/*, rebuild
  publish-charm-heat-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/heat-k8s/*, rebuild
  publish-charm-horizon-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/horizon-k8s/*, rebuild
  publish-charm-keystone-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-k8s/*, rebuild
  publish-charm-keystone-ldap-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/keystone-ldap-k8s/*, rebuild
  publish-charm-magnum-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/magnum-k8s/*, rebuild
  publish-charm-neutron-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/neutron-k8s/*, rebuild
  publish-charm-nova-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/nova-k8s/*, rebuild
  publish-charm-octavia-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/octavia-k8s/*, rebuild
  publish-charm-openstack-exporter-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-exporter-k8s/*, rebuild
  publish-charm-openstack-hypervisor: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-hypervisor/*, rebuild
  publish-charm-openstack-images-sync-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/openstack-images-sync-k8s/*, rebuild
  publish-charm-ovn-central-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ovn-central-k8s/*, rebuild
  publish-charm-ovn-relay-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/ovn-relay-k8s/*, rebuild
  publish-charm-placement-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/placement-k8s/*, rebuild
  publish-charm-sunbeam-machine: any of: ops-sunbeam/ops_sunbeam/*, charms/sunbeam-machine/*, rebuild
  publish-charm-sunbeam-clusterd: any of: ops-sunbeam/ops_sunbeam/*, charms/sunbeam-clusterd/*, rebuild
  publish-charm-tempest-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/tempest-k8s/*, rebuild
  publish-charm-watcher-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/watcher-k8s/*, rebuild
  publish-charm-masakari-k8s: any of: ops-sunbeam/ops_sunbeam/*, charms/masakari-k8s/*, rebuild
